/* -------------------------- IN THE BASKET/LIST OF PRODUCTS ------------------------ */

.k-basket {
	border: none;
	
	div.content {width: 100%; padding: 0;}
	
	.k-buttons-bar {
		padding: 1em 0;
		li {font-size: 0.8em;}
	}
	input.uppydowner {font-size: 80%;}
}

dl.basket-item {
	position: relative; 
	float: left;
	width: 96%;
	padding: 5px 2%;
	margin-bottom: 5px;
	border-bottom: 1px dashed #CCC;
	
	dt {
		float: left;
		width: 20%;
		min-width: 50px;
		max-width: 100px;
		background: #FFF;
		padding: 5px;
		margin-right: 1em;
	}
	dd.name {
		overflow: visible;
		margin: 0 0 1em;
	}
	dd.k-quantity {
		input {width: 2em;}
	}
	dd.price {
		text-align: right;
		margin-top: -2em;
		
		@media screen and (min-width: 600px) {text-align: left; margin: 1.5em 0 0;}
	}
}

/* New item */
dl.new-item {background: $neutral_lgt_clr;}

/* Total */
p.basket-total {
	clear: both;
	text-align: center;
	color: #FFF;
	background: $neutral_drk_clr;
	padding: 5px;
	margin: 5px 5px 0;
}


