<!DOCTYPE html>
<html data-ng-app="kawwa">
<head>
    <meta charset="utf-8">
    <title></title>

    <script type="text/javascript" src="lib/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../plugins/jquery.ui.core.js"></script>
    <script type="text/javascript" src="../plugins/jquery.ui.widget.js"></script>

    <script type="text/javascript" src="../plugins/jquery.jqzoom-core.js"></script>
    <script type="text/javascript" src="../plugins/jquery-star-rating-plugin.js"></script>
    <script type="text/javascript" src="../plugins/jquery.tipsy.js"></script>
    <script type="text/javascript" src="../plugins/jquery.jcarousel.js"></script>
    <script type="text/javascript" src="../plugins/jquery.uppydowner.js"></script>
    <script type="text/javascript" src="../plugins/jquery.ui.button.min.js.js"></script>
    
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="../kawwa-angular.js"></script>
    <link type="text/css" rel="stylesheet" href="theme/css/k-theme0.css"/>
</head>

<body>

    <div data-ng-controller="TestCtrl">


        <form>
            <p class="k-quantity">
                <input type="number" value="1" title="Define quantity to add to basket" data-product-quantity="{}"/>
            </p>

            <div class="k-product-options">
                <fieldset class="color" data-product-options="{}">
                    <legend>Choose your color : {{selected}}</legend>
                    <p><input data-ng-model="selected" type="radio" id="palette01" value="palette01" name="palette"
                              checked="checked"/>
                        <label for="palette01"><img src="theme/img/k-theme0/palette01.png" alt="Black"/></label>
                        <input data-ng-model="selected" type="radio" id="palette02" value="palette02" name="palette"/>
                        <label for="palette02"><img src="theme/img/k-theme0/palette02.png" alt="Dark Blue"/></label>
                        <input data-ng-model="selected" type="radio" id="palette03" value="palette03" name="palette"/>
                        <label for="palette03"><img src="theme/img/k-theme0/palette03.png" alt="White"/></label></p>
                </fieldset>
            </div>



            <fieldset class="k-rating">
                <legend>Rate this article: {{raty}}</legend>
                <p data-kawwa-raty data-kawwa-rating-json="{'value': 'test'}" ng-model="raty">
                    <input name="star1" type="radio" value="1"/>
                    <input name="star1" type="radio" value="2"/>
                    <input name="star1" type="radio" value="3"/>
                    <input name="star1" type="radio" value="4"/>
                    <input name="star1" type="radio" value="5"/>
                </p>
            </fieldset>

        </form>

        <p><label for="field1">Enter something:</label>
            <input class="k-field-comment" type="text" id="field1" name="field1" data-field-Comment="{'gravity': 'w'}"
                   title="A short comment about this field" />
        </p>
       <div class="content">
           <div data-title="gal1" data-kawwa-product-gallery data-gallery="gallery" data-options="galleryOptions"/>
       </div>


    </div>



</body>
</html>
