/* ----------------------------- PRODUCT TEMPLATE ------------------------------- */
/* Contains declarations of properties shared by all kinds of product displays */

.k-product {
	position: relative;	
	
	header {margin-bottom: 2em;}
	
	.p-name {
		text-transform: none;
		margin: 0;
	}
}


/* --- PRODUCT DATA --- */

/* --- Rating --- */

.rating {
	text-align: right;
 	margin: 1em 0;
	 	
 	p {display: inline; font-size: 0.8em;}
 	p:first-child {position: relative; top: 2px; right: 5px;}
 	
 	a, a:link {color: $text_clr;}
}
	
/* Price data */

.p-price {font-size: 1.5em; font-weight: bold; white-space: nowrap;}
.old-price {color: inherit;	text-decoration: line-through;}

/* Extra prices info */

p.extra {
	font-size: 1.2em;
	background: rgba(255,255,255,.8);
}

.sale {color: #C60;}
p.extra.sale {}
p.sale::before {
	position: relative;
	top: 1px;
	content: "\263B  ";
	line-height: 1.5;
	font-size: 110%;
	
	@media screen and (min-width: 600px) {
		display: block;
		top: 5px;
		line-height: 1;
		font-size: 250%;
	}
}

.new {color: #690;}
p.extra.new {}
p.new::before {
	position: relative;
	top: 1px;
	content: "\272A  ";
	line-height: 1.5;
	font-size: 110%;
	
	@media screen and (min-width: 600px) {
		display: block;
		top: 5px;
		line-height: 1;
		font-size: 250%;
	}
}
	
/* Buy zone */

.availability {font-size: 0.85em;}


/* --- ADD TO BASKET BUTTON --- */

p.buy {
	line-height: 1;
	margin: 1em 0;
	
	a, a:link, a:visited {
		display: inline-block;
		text-decoration: none;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
		color: #FFF;
		background: $hot_clr;
		padding: 0.4em 1.3em 0.6em;
		border-radius: 3px;
		border: 1px solid $hot_clr;
		box-shadow: 0 1px 1px rgba(0,0,0,.5);
		cursor: pointer;
	}
	a:hover, a:focus {
		color: #FFF;
		background: $identity_clr;
		border: 1px solid $identity_clr;
		box-shadow: none;
	}
}
