/* ----------------------------- SKIP LINK ------------------------------- */
/* line 3, k-theme0.scss */
.k-skip {
  display: inline;
  font-size: 1em; }
  /* line 7, k-theme0.scss */
  .k-skip a, .k-skip a:link, .k-skip a:visited {
    position: absolute;
    overflow: hidden;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px; }
  /* line 15, k-theme0.scss */
  .k-skip a:focus {
    position: static;
    width: auto;
    height: auto; }
