/* -------------------------- GROUP OF RADIOS ------------------------ */

/* Fieldset elements for radios */
fieldset.k-radio {
	margin: 0 5% 1em;
	
	legend {
		font-size: 90%;
		font-weight: bold;
		text-transform: none;
		margin: 0 0 0.3em;
		padding: 0;
	}
	legend::after {content: "";}
	
	label {font-weight: normal;}
	
	p {margin: 0;}
	
	ul {
		float: left;
		width: auto;
		list-style-type: none;
		padding: 0;
		margin: 0.3em 0 0;
	}
	
	@media screen and (min-width: 790px) {
		padding: 0.5em 1em;
		margin: 0 2em 1em;
		border: 2px solid #FFF;
		
		legend {padding: 0 0.5em;}
		label {padding: 0 2em 0 0;}
	}
}

/* --- TOUCH --- */

.flexNav-touch {
	fieldset.k-radio {
		label {
			display: inline-block;
			font-size: 140%;
			font-weight: normal;
			padding: 0.3em 0.5em;
			margin-right: 1em;
			border: 1px solid $neutral_md_clr;
			border-radius: 3px;
		}

	}
}


