/* -------------------------------------- MODAL WINDOW ---------------------------------- */

div.k-modal {
	color: #444;
	background: #FFF;
	margin: 0 2% 2%;
	border: 1px solid $identity_clr;
	box-shadow: 1px 1px 15px #666;
	
	.modal-header {
		font-size: 1.2em;
		color: #FFF;
		background: $identity_clr;
		padding: 0.2em 0.5em;
		margin: 1px;
		border: none;
	}
	.content {padding: 3% 5%;}
	
	.k-buttons-bar {text-align: center; margin-top: 2em;}
}

.ui-widget-overlay {
	position: absolute;
    top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
}

.ui-icon-closethick {position: absolute; text-indent: -9000px;}

/* Close button */
a.ui-dialog-titlebar-close, a:link.ui-dialog-titlebar-close, a:visited.ui-dialog-titlebar-close {
	float: right;
	position: relative;
	top: 23px;
	left: 28px;
	width: 37px;
	height: 1.5em;
	background: $identity_clr url(../img/k-theme0/close.svg) 28px 8px no-repeat;
	padding: 0.2em 0.5em;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
}

