 // KAWWA DEFAULT THEME
// Variables
// V 1.0 11/2013

// Font families
$font_stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$italic_stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$bold_stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$title_stack: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;


// Colors

$identity_clr:		#000;
$identity_txt:		#FFF;
$secondary_clr		#A40800;
$secondary_txt		#FFF;
$hot_clr			#A40800;
$hot_txt			#FFF;
$alert_clr:			#C00;
$text_clr:			#050505;
$neutral_clr:		#808080;
$neutral_txt:		#FFF;
$neutral_drk_clr:	#3E3E3E;
$neutral_drk_txt:	#FFF;

$neutral_md_clr:	#CCC;
$neutral_lgt_clr:	#EEE;


$modal_bg:			rgba(0,0,0,.85);

// KAWWA
// MIXINS
// V 1.0 11/2013

// BORDER BOX
@mixin M_borderBox {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// FLEX CONTAINER
@mixin M_flexCon($flow) {
	display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	flex-flow: $flow;
	-webkit-flex-flow: $flow;
	flex-direction: $flow;
}	
	

// SIMPLE TRANSFORMATIONS 
@mixin M_transform($type) {
	-moz-transform: $type;
	-ms-transform: $type;
	-o-transform: $type;
	-webkit-transform: $type;
	transform: $type;
}


// TRANSITIONS 
@mixin M_transition($what) {
	-moz-transition: $what;
	-ms-transition: $what;
	-o-transition: $what;
	-webkit-transition: $what;
	transition: $what;
}	

// STRIPS BACKGROUND 
@mixin M_stripes($clr) {
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
}

/* --------------------------------- PRODUCT IMAGES GALLERY ------------------------------------- */

/* LIST OF THUMBS */

ul.thumblist {clear: both; padding: 0;}

	ul.thumblist li {
		float: left;
		width: auto;
		list-style-type: none;
		margin-right: 5px;
	}
		ul.thumblist li a, ul.thumblist li a:link, ul.thumblist li a:visited {
			display: block;
			padding: 1px;
			border: 1px solid #CCC;
		}
		ul.thumblist li a:hover, ul.thumblist li a.zoomThumbActive {
			background: #000;
			border: 1px solid #000;
		}
		ul.thumblist img {vertical-align: bottom;}

/* ZOOM */

.zoomPad {
	position: relative;
	float: left;
	cursor: crosshair;
	z-index: 99;
}

.zoomPreload {
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   height: 43px;
   text-decoration: none;
   text-align:center;
   color: #333;
   background: #FFF url(../img/k-theme0/zoomloader.gif) 43px 30px no-repeat;
   padding: 8px;
   border: 1px solid #CCC;
   opacity: 0.8;
   z-index: 110;
}

.zoomPup {
	overflow: hidden;
	position: absolute;
	background: #FFF;
	opacity: 0.5;
	outline: 1px solid #FFF;
	box-shadow: 0 0 2px #000;
	z-index: 120;
    z-index: 101;
	cursor: crosshair;
}
	.zoomPup:after {
		content: " ";
		width: 40px;
	}

.zoomOverlay{ 
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:#FFF;
	z-index:5000;
	z-index: 101;
}

.zoomWindow {
	position: absolute;
	top: 40px;
	left: 110%;
	height: auto;
	background: #FFF;
	box-shadow: 0 0 3px #999;
 	z-index: 10000;
}
.zoomWrapper {
	position: relative;
	border: 1px solid #999;
  	z-index: 110;
}
.zoomWrapperTitle {display: none;}

.zoomWrapperImage {
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 110;
	
	img {
	  display: block;
	  position: absolute;
	  max-width: 2000px;
	  border: 0;
	  z-index:101;
	}
}
.zoomIframe {
  position: absolute;
  display: block;
  opacity: 0.8;
  z-index: -1;
}


