Portal/src/main/java/awl/frontsolutions/services/atos
app/components/
*.iml
*.iws
*.ipr
.gradle/
build/
.jruby/
.sass-cache/
.idea/
.project
.settings/
.classpath
target/
out/
.DS_Store
kawwa2-angularjs/npm-debug.log
Portal/src/main/webapp/WEB-INF/web.xml
Portal/gradle.properties
