<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="kawwaportal-components Application Test Suite" annotations="1.5">
    <test name="Unit Tests">
    		<parameter name="tapestry.browser-start-command" value="*googlechrome" />
			<parameter name="tapestry.web-app-folder" value="src/main/webapp" />
			
			 <classes>
			  	<class name="awl.frontsolutions.IndexPageTest"></class>
	       	 </classes>
    </test>
</suite>
