/* ----------------------------------------------------------------- */
/* --------------------------- PAGE STRUCTURE ---------------------- */
/* ----------------------------------------------------------------- */
/* Defines main page structure, from zero to three columns layout. */
/* -------------------------- CONTAINER ------------------------ */
/* line 9, k-structure.scss */
#container {
  position: relative;
  width: 100%;
  margin: 0 auto 20px; }

/* -------------------------- HEADER --------------------------- */
/* line 16, k-structure.scss */
header[role=banner] {
  clear: both;
  position: relative;
  padding: 0 5%; }

/* -------------------------- COLUMNS --------------------------- */
/* line 24, k-structure.scss */
#wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto; }
  /* line 31, k-structure.scss */
  #wrapper > main, #wrapper #main {
    clear: both;
    padding: 2em 0; }
  /* line 32, k-structure.scss */
  #wrapper > main::after, #wrapper #main::after {
    clear: both;
    display: block;
    content: ""; }
  @media screen and (min-width: 1300px) {
    /* line 24, k-structure.scss */
    #wrapper {
      margin: 1em auto; }
      /* line 37, k-structure.scss */
      #wrapper > main, #wrapper #main {
        clear: none;
        float: left;
        width: 57%;
        padding: 0 0 2em 3%; }
      /* line 38, k-structure.scss */
      #wrapper > main:first-child, #wrapper #main:first-child {
        clear: none;
        float: left;
        width: 75%; }
      /* line 39, k-structure.scss */
      #wrapper > main:last-child, #wrapper #main:last-child {
        clear: none;
        float: left;
        width: 77%;
        padding: 0 0 0 3%; }
      /* line 40, k-structure.scss */
      #wrapper > main:only-child, #wrapper #main:only-child {
        width: 100%;
        padding: 0; }
      /* line 41, k-structure.scss */
      #wrapper > aside[role=complementary] {
        float: right;
        width: 20%; }
      /* line 42, k-structure.scss */
      #wrapper #menu {
        clear: none;
        float: left;
        width: 15%;
        margin: 0; } }

/* line 46, k-structure.scss */
#menu {
  clear: both;
  margin: 1em 0; }

/* -------------------------- FOOTER --------------------------- */
/* line 49, k-structure.scss */
footer[role=contentinfo], #footer {
  clear: both;
  position: relative;
  padding: 1em 5% 0 5%; }

/* ----------------------- GENERAL LAYOUT-ONLY STYLES  ---------------------- */
@media screen and (min-width: 800px) {
  /* line 59, k-structure.scss */
  .to-left {
    clear: none;
    float: left;
    width: 45%; }

  /* line 60, k-structure.scss */
  .to-right {
    clear: none;
    float: right;
    width: 45%; } }
