/* ----------------------------------------------------------------- */
/* --------------------------- PAGE STRUCTURE ---------------------- */
/* ----------------------------------------------------------------- */

/* Defines main page structure, from zero to three columns layout. */


/* -------------------------- CONTAINER ------------------------ */
#container {
	position: relative;
	width: 100%;
	margin: 0 auto 20px;
}

/* -------------------------- HEADER --------------------------- */
header[role=banner] {
	clear: both;
	position: relative;
	padding: 0 5%;
}

/* -------------------------- COLUMNS --------------------------- */

#wrapper {
	width: 90%;
	max-width: 1300px;
	margin: 0 auto;
	
	> aside[role=complementary] {}
	
	> main, #main  {clear: both; padding: 2em 0;}
	> main::after, #main::after {clear: both; display: block; content: "";}
	
	@media screen and (min-width: 1300px) {
		margin: 1em auto;
		
		> main, #main {clear: none; float: left; width: 57%; padding: 0 0 2em 3%;}
		> main:first-child, #main:first-child {clear: none; float: left; width: 75%;}
		> main:last-child, #main:last-child {clear: none; float: left; width: 77%; padding: 0 0 0 3%}
		> main:only-child, #main:only-child {width: 100%; padding: 0;}
		> aside[role=complementary] {float: right; width: 20%;}
		#menu {clear: none; float: left; width: 15%; margin: 0;}
	}
}

#menu {clear: both; margin: 1em 0;}

/* -------------------------- FOOTER --------------------------- */
footer[role=contentinfo], #footer {
	clear: both;
	position: relative;
	padding: 1em 5% 0 5%;
}


/* ----------------------- GENERAL LAYOUT-ONLY STYLES  ---------------------- */

@media screen and (min-width: 800px) {	
	.to-left {clear: none; float: left; width: 45%;}
	.to-right {clear: none; float: right; width: 45%;}
}
