/* ----------------------------------------------------------------- */
/* --------------------------- PAGE STRUCTURE ---------------------- */
/* ----------------------------------------------------------------- */

/* Defines main page structure, from zero to three columns layout. */


/* -------------------------- CONTAINER ------------------------ */
#container {
	position: relative;
	width: 97%;
	max-width: 1240px;
	margin: 0 auto 20px;
}

/* -------------------------- HEADER --------------------------- */
header[role=banner], #header {
	clear: both;
	position: relative;
	width: 100%;
}


/* -------------------------- WRAPPER --------------------------- */
#wrapper { 
	float: left;
	width: 100%;
}

/* -------------------------- COLUMNS --------------------------- */

#menu, #secondary {float: left; width: 15%;}
aside[role=complementary], #sidebar {float: right; width: 20%;}

main, #main {float: left; width: 59%; min-height: 400px; margin-left: 2%;} /* with three columns */

/* Conditions based on columns number */
#wrapper #main:first-child {width: 78%; margin-left: 0;}
#wrapper #main:last-child {width: 83%;}
#wrapper #main:only-child {width: 100%;}

#wrapper main:first-child {width: 78%; margin-left: 0;}
#wrapper main:last-child {width: 83%;}
#wrapper main:only-child {width: 100%;}


/* -------------------------- FOOTER --------------------------- */
footer[role=contentinfo], #footer {
	clear: both;
	position: relative;
	width: 100%;
}
