 // KAWWA DEFAULT THEME
// Variables
// V 1.0 11/2013

// Font families
$font_stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$italic_stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$bold_stack: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$title_stack: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;


// Colors

$identity_clr:		#000;
$identity_txt:		#FFF;
$secondary_clr		#A40800;
$secondary_txt		#FFF;
$hot_clr			#A40800;
$hot_txt			#FFF;
$alert_clr:			#C00;
$text_clr:			#050505;
$neutral_clr:		#808080;
$neutral_txt:		#FFF;
$neutral_drk_clr:	#3E3E3E;
$neutral_drk_txt:	#FFF;

$neutral_md_clr:	#CCC;
$neutral_lgt_clr:	#EEE;


$modal_bg:			rgba(0,0,0,.85);

// KAWWA
// MIXINS
// V 1.0 11/2013

// BORDER BOX
@mixin M_borderBox {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// FLEX CONTAINER
@mixin M_flexCon($flow) {
	display: flex;
	-moz-display: flex;
	-webkit-display: flex;
	flex-flow: $flow;
	-webkit-flex-flow: $flow;
	flex-direction: $flow;
}	
	

// SIMPLE TRANSFORMATIONS 
@mixin M_transform($type) {
	-moz-transform: $type;
	-ms-transform: $type;
	-o-transform: $type;
	-webkit-transform: $type;
	transform: $type;
}


// TRANSITIONS 
@mixin M_transition($what) {
	-moz-transition: $what;
	-ms-transition: $what;
	-o-transition: $what;
	-webkit-transition: $what;
	transition: $what;
}	

// STRIPS BACKGROUND 
@mixin M_stripes($clr) {
	background-image: -moz-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: -webkit-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: -ms-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: -o-repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, $clr 5px, $clr 20px);
}

/* ----------------------------- PRODUCT RATING ------------------------------- */

fieldset.k-rating {
	position: relative;
	background: $neutral_lgt_clr;
	padding: 0.5em 0.5em 0.7em;
	border: none;
	
	legend {
		position: absolute;
		width: auto;
		top: 0;
		left: 0.5em;
		font-size: 0.75em;
		background: none;
		padding: 0.8em 0.5em;
		margin: 0;
	}
	p {margin-top: 1.5em;}
	
	@media screen and (min-width: 500px) {
		legend {position: static; float: left; width: 12em; margin: 0.7em 0 0; padding: 0;}
		legend::after {content: "";}
		p {float: left;	width: 50%; margin: 0;}
	}
}
	
div.rating-cancel, div.star-rating {
	overflow: hidden;
	display: block;
	float: left;
	width: 35px;
	height: 33px;
	text-indent: -999em;
	background: transparent;
	cursor: pointer;
}

	div.rating-cancel, div.rating-cancel a {
		background: url(../img/k-theme0/no_star.png) 0 0 no-repeat;
	}
	div.star-rating, div.star-rating a {
		background: url(../img/k-theme0/bg_ratings.png) 0 0 no-repeat;
	}
	div.rating-cancel a, div.star-rating a {
		display: block;
		width: 35px;
		height: 100%;
		background-position: 0 0;
		border: 0;
	}
	div.star-rating-on a {background-position: 0 -91px;}
	div.star-rating-hover a {background-position: 0 -91px;}
	
	/* Read Only CSS */
	div.star-rating-readonly a {cursor: default !important;}
	
	/* Partial Star CSS */
	div.star-rating {overflow: hidden; background-color: transparent;}



