/*-------------------------------------------------------------------- 
          	  	 KAWWA2 - Theme 1
	          	PRINT STYLE-SHEET
          By Le Studio, Atos Worldline, 2011
-------------------------------------------------------------------- */

/* --- Things that should not be printed --- */

#navbar, #menu, #sidebar {display:none;}
#header {display:none;}
.k-actions-block {display:none;}
.k-carousel, .k-pagination {display: none;}
p.tabs-link {display: none;}


/* --- DEFAULTS --- */

h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
p {margin: 1em 0;}
ul {margin: 1em;}
li {padding: 0.3em 1em;}
dt {margin: 1em 0;}

#footer {margin-top: 2em;}



/* --- EXCEPTIONS --- */

#main {width: 100%;}
#sidebar + #main {width: 100%;}
#menu + #sidebar + #main {width: 100%;}

div.k-article p {max-width: 98%;}










