/* ----------------------------- TOOLS LIST ------------------------------- */

div.k-tools {}

ul.k-tools-list {
	clear: both;
	background: $identity_clr;
	
	li {
		display: inline;
		font-size: 0.75em;
		color: $neutral_md_clr;
		background: transparent;
		padding: 2em 0.2em 0.3em;
	}
	li::before {content: "\25CF \00A0 \00A0 ";}
	a, a:link {
		color: #FFF;
		background: transparent;
		text-decoration: none;
	}
	a:visited {
		color: $neutral_md_clr;
	}
	a:hover, a:focus {text-decoration: underline;}
}
		
