/* ------------------------- ACTIONS BLOCK ------------------------- */

div.k-actions-block {
	margin: 0 0 1em;
	border-top: 4px solid $identity_clr;
}

	/* Optional text */
	.action-context {
		float: left;
		width: 25%;
		font-size: 1em;
		padding: 0.7em 1em 0;
		margin: 0;
		border: none;
	}
	.action-context + ul.k-actions {margin: 0;}
	
	
