/* ------------------------------ INPUT HELP BUTTON -------------------------------- */

.k-field-help {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 0.5em;
    vertical-align: -3px;
}

label + .k-field-help {padding-left: 0; margin-left: -12px;}


	
