<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head>
<title>Source code</title>
<link rel="stylesheet" type="text/css" href="../../../../../../stylesheet.css" title="Style">
</head>
<body>
<div class="sourceContainer">
<pre><span class="sourceLineNo">001</span>package net.atos.kawwaportal.components.mixins;<a name="line.1"></a>
<span class="sourceLineNo">002</span><a name="line.2"></a>
<span class="sourceLineNo">003</span>import org.apache.tapestry5.BindingConstants;<a name="line.3"></a>
<span class="sourceLineNo">004</span>import org.apache.tapestry5.ClientElement;<a name="line.4"></a>
<span class="sourceLineNo">005</span>import org.apache.tapestry5.annotations.AfterRender;<a name="line.5"></a>
<span class="sourceLineNo">006</span>import org.apache.tapestry5.annotations.Import;<a name="line.6"></a>
<span class="sourceLineNo">007</span>import org.apache.tapestry5.annotations.InjectContainer;<a name="line.7"></a>
<span class="sourceLineNo">008</span>import org.apache.tapestry5.annotations.Parameter;<a name="line.8"></a>
<span class="sourceLineNo">009</span>import org.apache.tapestry5.ioc.annotations.Inject;<a name="line.9"></a>
<span class="sourceLineNo">010</span>import org.apache.tapestry5.ioc.annotations.Symbol;<a name="line.10"></a>
<span class="sourceLineNo">011</span>import org.apache.tapestry5.json.JSONObject;<a name="line.11"></a>
<span class="sourceLineNo">012</span>import org.apache.tapestry5.services.javascript.JavaScriptSupport;<a name="line.12"></a>
<span class="sourceLineNo">013</span>import org.got5.tapestry5.jquery.JQuerySymbolConstants;<a name="line.13"></a>
<span class="sourceLineNo">014</span><a name="line.14"></a>
<span class="sourceLineNo">015</span>/**<a name="line.15"></a>
<span class="sourceLineNo">016</span> * <a name="line.16"></a>
<span class="sourceLineNo">017</span> * @tapestrydoc<a name="line.17"></a>
<span class="sourceLineNo">018</span> *<a name="line.18"></a>
<span class="sourceLineNo">019</span> */<a name="line.19"></a>
<span class="sourceLineNo">020</span>@Import(library = "classpath:/net/atos/kawwaportal/components/assets/readMore.js")<a name="line.20"></a>
<span class="sourceLineNo">021</span>public class ReadMore {<a name="line.21"></a>
<span class="sourceLineNo">022</span>        <a name="line.22"></a>
<span class="sourceLineNo">023</span>        @Parameter(value = "message:read-more-header", defaultPrefix = BindingConstants.MESSAGE)<a name="line.23"></a>
<span class="sourceLineNo">024</span>        private String header;<a name="line.24"></a>
<span class="sourceLineNo">025</span>        <a name="line.25"></a>
<span class="sourceLineNo">026</span>        @InjectContainer<a name="line.26"></a>
<span class="sourceLineNo">027</span>        private ClientElement clientElement;<a name="line.27"></a>
<span class="sourceLineNo">028</span>        <a name="line.28"></a>
<span class="sourceLineNo">029</span>    <a name="line.29"></a>
<span class="sourceLineNo">030</span>        @Inject<a name="line.30"></a>
<span class="sourceLineNo">031</span>        @Symbol(JQuerySymbolConstants.JQUERY_ALIAS)<a name="line.31"></a>
<span class="sourceLineNo">032</span>        private String jqueryAlias;<a name="line.32"></a>
<span class="sourceLineNo">033</span>        <a name="line.33"></a>
<span class="sourceLineNo">034</span>        @Inject <a name="line.34"></a>
<span class="sourceLineNo">035</span>        private JavaScriptSupport javascriptSupport;<a name="line.35"></a>
<span class="sourceLineNo">036</span>        <a name="line.36"></a>
<span class="sourceLineNo">037</span>        @AfterRender<a name="line.37"></a>
<span class="sourceLineNo">038</span>        void afterRender() {<a name="line.38"></a>
<span class="sourceLineNo">039</span>                JSONObject params = new JSONObject();<a name="line.39"></a>
<span class="sourceLineNo">040</span>                params.accumulate("header", header);<a name="line.40"></a>
<span class="sourceLineNo">041</span>                String init = null;<a name="line.41"></a>
<span class="sourceLineNo">042</span>                init = String.format("%s('#%s').readMore(%s);", jqueryAlias, clientElement.getClientId(),params);<a name="line.42"></a>
<span class="sourceLineNo">043</span>                javascriptSupport.addScript(init);              <a name="line.43"></a>
<span class="sourceLineNo">044</span>        }<a name="line.44"></a>
<span class="sourceLineNo">045</span><a name="line.45"></a>
<span class="sourceLineNo">046</span>}<a name="line.46"></a>




























































</pre>
</div>
</body>
</html>
