/* ----------------------------- TABBED DATA ------------------------------- */


.k-tabbed-data {
	
	ul.tabs {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
		
		li {
			float: left;
			width: auto;
			list-style-type: none;
			font: 1em $title_stack;
			text-transform: uppercase;
			padding: 0;
			margin-right: 5px;
		}
		a, a:link, a:visited {
			display: block;
			text-decoration: none;
			color: $identity_clr;
			background: #FFF;
			padding: 5px 10px;
			border: 1px solid $neutral_clr;
			border-bottom: none;
		}
		a:hover, a:focus {color: #FFF; background: $identity_clr;}
		a.active:hover, a.active:focus {color: #FFF; background: $hot_clr;}
		
		// Selected tab 
		a.active, a.active:link, a.active:visited {
			color: #FFF;
			background: $identity_clr;
			border: 1px solid $identity_clr;
		}
		a.active:hover, a.active:focus {color: #FFF; background: $hot_clr;}
		
		// Disabled tab 
		a.off, a.off:link, a.off:visited {
			color: $neutral_md_clr;
			background: #FFF;
			border: 1px solid $neutral_clr;
		}
		a.off:focus {
			color: $neutral_md_clr;
			background: #FFF;
		}
		strong.off {
			display: block;
			font-weight: normal;
			text-decoration: none;
			color: $neutral_md_clr;
			background: #FFF;
			padding: 5px 10px;
			border: 1px solid $neutral_clr;
			border-bottom: none;
		}
	}
	
	> .content {
		clear: both;
		overflow: auto;
		color: $identity_clr;
		background: #FFF;
		padding: 5px 10px 10px;
		margin-bottom: 2em;
		border: 1px solid $identity_clr;
	}
}

/* ADAPTIVE VIEW */

.k-tabbed-data.adaptive {
	position: relative;
	
	ul.tabs {
		clear: both;
		padding: 0;
		margin: 0;
	
		li {
			float: left;
			width: 100%;
			padding: 0 0 0.1em;
			
			a, a:link, a:visited {
				@include M_borderBox;
				color: #FFF;
				background-color: $identity_clr;
				padding: 0.5em 50px 0.5em 0.7em;
			}
			a.active:hover, a.active:focus {color: #FFF; background: $hot_clr;}
			
			a.transformed, a.transformed:link, a.transformed:visited  {
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 0;
			}
			a.transformed.active, a.transformed.active:link, a.transformed.active:visited {
				background: $identity_clr url(../img/k-theme0/nav-control.svg) top right no-repeat;
				background-size: 32px;
				opacity: 1;
				z-index: 100;
			}
		}
	}
}
