/* ----------------------------- LIST OF LINKS ------------------------------- */
/* line 3, k-theme0.scss */
ul.k-links-list {
  padding: 0;
  margin: 0 0 1em 15px; }
  /* line 7, k-theme0.scss */
  ul.k-links-list li {
    list-style-type: disc; }
