/* ----------------------------- ILLUSTRATION BLOCK ------------------------------- */

.k-illustration-block {
	text-align: center;
	padding: 2em 0;
	margin: 0 auto;
	
	img {
		max-width: 100%;
		border: 4px solid $neutral_lgt_clr;
		box-shadow: 0 0 3px rgba(0,0,0,.5);
	}
}

/*  ".caption" is for legacy purposes (XHTML) */
figcaption, .caption {
	display: block;
	font-size: 0.8em;
	margin: 5px auto 0;
}
	

@media screen and (min-width: 790px) {
	.k-illustration-block.to-right {
		float: right;
		width: 30%;
		padding: 1em 0 1em 8%;
	}
	.k-illustration-block.to-left {
		float: left;
		width: 30%;
		padding: 1em 8% 1em 0;
	}
}


