/* ----------------------------- ILLUSTRATION BLOCK ------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/05_illustration\/k-theme0\.scss}line{font-family:\0000387}}
.k-illustration-block {
  text-align: center;
  padding: 2em 0;
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/05_illustration\/k-theme0\.scss}line{font-family:\0000392}}
  .k-illustration-block img {
    max-width: 100%;
    border: 4px solid #eeeeee;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/05_illustration\/k-theme0\.scss}line{font-family:\0000399}}
figcaption {
  display: block;
  font-size: 0.8em;
  margin: 5px auto 0; }

@media screen and (min-width: 790px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/05_illustration\/k-theme0\.scss}line{font-family:\00003107}}
  .k-illustration-block.to-right {
    float: right;
    width: 30%;
    padding: 1em 0 1em 8%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/05_illustration\/k-theme0\.scss}line{font-family:\00003112}}
  .k-illustration-block.to-left {
    float: left;
    width: 30%;
    padding: 1em 8% 1em 0; } }
