<!DOCTYPE html>  
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="shortcut icon" href="../img/k-theme0/favicon.png" />
	<title>Your Title goes here</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/k-theme0.css" rel="stylesheet" type="text/css" title="Default Theme" media="all" />
	<!--[if lt IE 9]>
    <link href="../css/iehacks0.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!-- SCRIPTS -->
	<!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<!-- Here go your plug-ins -->
	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.kawwa.nav.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

	<header role="banner">
		<h1>Your Logo Here</h1>
		<div class="k-tools">
			<ul class="k-tools-list">
				<li><a href="tools/sitemap.html">Site map</a></li>
				<li><a href="tools/contact.html">Contact us</a></li>
			</ul>
		</div>
	</header>

	<nav>
		<p class="control"><a href="#" title="Click to open/close menu"><img src="../img/k-theme0/nav_control.png" alt="Menu" /></a></p>
		<h2 class="k-skip"><a href="#wrapper">Main navigation (Skip it)</a></h2>
		<ul class="k-navbar" role="menubar">
			<li class="home"><a href="index.html">Home</a></li>
			<li class="active"><strong title="Current section">Section 1</strong></li>
			<li><a href="#" title="Click to open/close dropdown">Section 2</a>
				<ul role="menu">
					<li><a href="#">Section 2.1</a></li>
					<li><a href="#">Section 2.2</a></li>
				</ul>
			</li>
			<li><a href="#">Section 3</a></li>
			<li><a href="#">Section 4</a></li>
			<li><a href="#">Section 5</a></li>
			<li><a href="#">Section 6</a></li>
		</ul>
	</nav>
	<p class="k-breadcrumbs">
		<a href="#">Home</a> &gt; Section 1</p>
	
	<hr />
		
	<div id="wrapper">
			
		<div id="menu" role="navigation">
		</div>
		<!--<div id="secondary">
			Use this INSTEAD of #menu if first column DOESN'T hold navigational content
		</div>-->
		
		<div id="main" role="main">
			
		</div><!-- /main -->
			
		<aside role="complementary">
			<h2 class="k-no-display">Transversal content</h2>
		</aside>
			
	</div><!-- /wrapper -->
	
	<footer role="contentinfo">
		<p class="k-copyright">&copy; Your copyright, 2013</p>
	</footer>
	
</div>


</body>
</html>

