<!DOCTYPE html>  
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="shortcut icon" href="../img/k-theme0/favicon.png" />
	<title>[KAWWA &raquo; Product Sheet]</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/k-theme0.css" rel="stylesheet" type="text/css" title="Default Theme" media="all" />
	<!--[if lt IE 9]>
    <link href="../css/iehacks0.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!-- SCRIPTS -->
	<!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<!-- Here go your plug-ins -->
	<script type="text/javascript" src="../js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.position.min.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.button.min.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.dialog.min.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.panel.awl.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.tabs.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.accordion.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.kawwa.nav.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.uppydowner.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.jqzoom-core.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.rating.pack.js"></script>
	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

	<header role="banner">
		<h1>KAWWA <small>Markup Pattern Library</small></h1>
		<div class="k-tools">
			<form class="k-language" method="post" action="">
				<fieldset class="k-radio">
					<legend>Choose preferred language:</legend>
					<p>
					    <input type="radio" id="en" value="en" name="language" checked="checked" />
					    <label for="en" title="English version">EN</label>
					    <input type="radio" id="fr" value="fr" name="language" />
					    <label for="fr" lang="fr" title="Version française">FR</label>
					    <input type="radio" id="de" value="de" name="language" />
					    <label for="de" lang="de" title="Deutsch version">DE</label>
			  		</p>
				</fieldset>
			</form>
			<ul class="k-tools-list">
				<li><a href="tools/faq.html">FAQ</a></li>
				<li><a href="tools/contact.html">Contact us</a></li>
			</ul>
		</div>
	</header>

	<nav>
		<p class="control"><a href="#" title="Click to open/close menu"><img src="../img/k-theme0/nav_control.png" alt="Menu" /></a></p>
		<h2 class="k-skip"><a href="#wrapper">Main navigation (Skip it)</a></h2>
		<ul class="k-navbar" role="menubar">
			<li class="home"><a href="../index.html">Home</a></li>
			<li class="active"><a href="#">Products</a>
					<ul role="menu">
						<li><a href="#">Sub item 1</a></li>
						<li><a href="#">Sub item 2</a></li>
					</ul>
			</li>
		</ul>
		<p class="k-breadcrumbs"><a href="#">Home</a> &gt; Products: Product sheet</p>
	</nav>
	
	<hr />
		
	<div id="wrapper">
		
		<div id="menu" role="navigation">
			<p class="k-skip"><a href="#main">Skip this menu</a></p>
			<ul class="k-menu">
				<li><a href="#" title="Click to open/close sub-menu">Movies &amp; TV</a>
					<ul class="level2">
						<li class="active"><a href="#">DVD</a></li>
						<li><a href="#">Blu-Ray</a></li>
					</ul>
				</li>
				<li><a href="#" title="Click to open/close sub-menu">Multimedia</a>
					<ul class="level2">
						<li><a href="#">Desktop PCs</a></li>
						<li><a href="#">Laptops</a></li>
						<li><a href="#">Tablets</a></li>
					</ul>
				</li>
				<li><a href="#" title="Click to open/close sub-menu">Music</a>
					<ul class="level2">
						<li><a href="#">New releases</a></li>
						<li><a href="#">CDs</a></li>
						<li><a href="#">MP3/MP4</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="main" role="main">
						
				<div class="k-product-sheet">
					
					<div class="k-actions-block">
						<p class="action-context">&laquo; <a href="product_catalog.html">Back to Catalog</a></p>
						<ul class="k-actions">
							<li><a href="#" class="bt-print">print</a></li>
							<li><a href="#" class="bt-email">e-mail</a></li>
						</ul>
					</div>
					
					<form id="product-data-form" method="post" action="">
						<article class="hproduct k-product">
							<div class="k-product-gallery photo-data">
									<p><a class="jqzoom" rel="gal1" href="../img/image_examples/p1_hd_1.png" title="Zoom this image">
										<img class="photo" src="../img/image_examples/p1_1.png" alt="Title of product" /></a></p>
									<ul class="thumblist">
										<li><a class="zoomThumbActive" href="#" rel="{gallery: 'gal1', smallimage: '../img/image_examples/p1_1.png',largeimage: '../img/image_examples/p1_hd_1.png'}"><img src="../img/image_examples/p1_thumb_1.png" alt="View of product" /></a></li>
										<li><a href="#" rel="{gallery: 'gal1', smallimage: '../img/image_examples/p1_2.png',largeimage: '../img/image_examples/p1_hd_2.png'}"><img src="../img/image_examples/p1_thumb_2.png" alt="View of product" /></a></li>
										<li><a href="#" rel="{gallery: 'gal1', smallimage: '../img/image_examples/p1_3.png',largeimage: '../img/image_examples/p1_hd_3.png'}"><img src="../img/image_examples/p1_thumb_3.png" alt="View of product" /></a></li>
									</ul>
							</div>
							<div class="product-data">
								<h2 class="fn name">Title of product</h2>
								<p class="category"><a href="#">Product category</a></p>
								<p class="rating five" title="5/5"><a href="#comments" title="See what other customers are saying">50 comments</a></p>
								<p class="description">Eget velit convallis laoreet consectetuer In dictum est 
									ipsum gravida consequat. Elit Sed magna id congue scelerisque velit convallis laoreet consectetuer In dictum est 
									ipsum gravida consequat. Elit Sed magna id congue scelerisque.</p>
								<ul class="product-info">
									<li><strong>Ref.:</strong> 1235A/gray</li>
									<li><strong>Height:</strong> 65cm</li>
									<li><strong>Composition:</strong> 20% cotton/80% wool</li>
								</ul>
								
								<div class="k-product-options">
									<fieldset class="color">
										<legend>Choose your color:</legend>
										<p><input type="radio" id="palette01" value="palette01" name="palette" />
											<label for="palette01"><img src="../img/image_examples/palette01.png" alt="Black" /></label> 
											<input type="radio" id="palette02" value="palette02" name="palette" />
											<label for="palette02"><img src="../img/image_examples/palette02.png" alt="Dark Blue" /></label> 
											<input type="radio" id="palette03" value="palette03" name="palette" checked="checked" />
											<label for="palette03"><img src="../img/image_examples/palette03.png" alt="White" /></label></p>
									</fieldset>
									<fieldset class="size">
										<legend>Choose your size:</legend>
										<p><input type="radio" id="s36" value="s36" name="size" checked="checked" />
											<label for="s36">36</label>
											<input type="radio" id="s38" value="s38" name="size" />
											<label for="s38">38</label>
											<input type="radio" id="s40" value="s40" name="size" />
											<label for="s40">40</label>
											<input type="radio" id="s42" value="s42" name="size" />
											<label for="s42">42</label></p>
									</fieldset>
								</div>
								
								<div class="price-data">
									<p class="extra sale"><span class="discount" title="Price 20% off">-20% sale</span></p>
									<p class="sale">sale!</p>
									<p class="all-prices">
										<span class="hidden">Old price :</span> 
										<span class="old-price" title="Old price">50,50 €</span><br />
										<strong class="price sale">50,50 €</strong></p>
								</div>
								<div class="buyZone">
									<div class="availability">
										<p><strong>Availability :</strong> immediate delivery</p>
									</div>
									<p class="buy"><a href="#">Add to basket</a></p>
								</div>	
							</div>				
						
							<section class="k-panel">
								<h3 class="control ui-state-active"><a href="#" title="Click to fold/unfold">Product details</a></h3>
								<div class="content">
									<p>In order to have an opened panel on page load, add to its title the "ui-state-active" class, like in this example.</p>
									<ul>
										<li>Product Dimensions: 8 x 4.6 x 2.2 inches ; 6.4 ounces</li>
										<li>Shipping Weight: 1 pounds (View shipping rates and policies)</li>
										<li>ASIN: B000N4GVWY</li>
										<li>Average Customer Review: 4.3 out of 5 stars  See all reviews (39 customer reviews)</li>
										<li>Amazon Best Sellers Rank: #118 in Sports and Outdoors (See Top 100 in Sports and Outdoors) </li>
									</ul>
								</div>
							</section>
						</article>
					</form>
					
					<div id="push-data" class="k-tabbed-data">
						<ul class="tabs">
							<li><a href="#tab1">To Complete Your Outfit</a></li>
							<li><a href="#tab2">Customers Who Bought This Item Also Bought</a></li>
						</ul>
						<section id="tab1" class="content">
							<h3 class="k-no-display">To Complete Your Outfit</h3>
							<div class="k-carousel">
							  	<ul>
								    <li><a href="#" title="Consult this article"><img src="../img/image_examples/product_01.png" alt="" /> Product title <strong class="price">10,10 &euro;</strong></a></li>
								    <li><a href="#" title="Consult this article"><img src="../img/image_examples/product_02.png" alt="" /> Product title <strong class="price">10,10 &euro;</strong></a></li>
								    <li><a href="#" title="Consult this article"><img src="../img/image_examples/product_03.png" alt="" /> Product title <strong class="price">10,10 &euro;</strong></a></li>
								    <li><a href="#" title="Consult this article"><img src="../img/image_examples/product_04.png" alt="" /> Product title <strong class="price">10,10 &euro;</strong></a></li>
								    <li><a href="#" title="Consult this article"><img src="../img/image_examples/product_05.png" alt="" /> Product title <strong class="price">10,10 &euro;</strong></a></li>
								    <li><a href="#" title="Consult this article"><img src="../img/image_examples/product_06.png" alt="" /> Product title <strong class="price">10,10 &euro;</strong></a></li>
								    <li><a href="#" title="Consult this article"><img src="../img/image_examples/product_08.png" alt="" /> Product title <strong class="price">10,10 &euro;</strong></a></li>
							    </ul>
							</div>
						</section>
						<section id="tab2" class="content">
							<h3 class="k-no-display">Customers Who Bought This Item Also Bought</h3>
							<ul class="k-product">
								<li class="hproduct">
									<dl>
										<dt><a href="#" title="See this article"><img class="photo" src="../img/image_examples/product_02.png" alt="[Product image]" /></a></dt>
										<dd class="fn name"><a href="#" title="See this article">Product title</a></dd>
										<dd class="price">30,45 €</dd>
									</dl>
								</li>
								<li class="hproduct">
									<dl>
										<dt><a href="#" title="See this article"><img class="photo" src="../img/image_examples/product_03.png" alt="[Product image]" /></a></dt>
										<dd class="fn name"><a href="#" title="See this article">Product title</a></dd>
										<dd class="price">30,45 €</dd>
									</dl>
								</li>
								<li class="hproduct">
									<dl>
										<dt><a href="#" title="See this article"><img class="photo" src="../img/image_examples/product_09.png" alt="[Product image]" /></a></dt>
										<dd class="fn name"><a href="#" title="See this article">Product title</a></dd>
										<dd class="price">30,45 €</dd>
									</dl>
								</li>
								<li class="hproduct">
									<dl>
										<dt><a href="#" title="See this article"><img class="photo" src="../img/image_examples/product_08.png" alt="[Product image]" /></a></dt>
										<dd class="fn name"><a href="#" title="See this article">Product title</a></dd>
										<dd class="price">30,45 €</dd>
									</dl>
								</li>
							</ul>
							<p class="tabs-link"><a href="#">Add complete outfit to my basket</a></p>
						</section>
					</div>
					<section id="comments" class="k-panel">
						<h3 class="control ui-state-active"><a href="#" title="Click to fold/unfold">See What Other Customers Are Saying (5)</a></h3>
						<div class="content">
							<p class="average">Average note for the article : <span class="rating five">5/5</span></p>
							<div class="k-review">
								<dl class="hreview">
									<dt class="reviewer vcard">
										<span class="five" title="5"><strong class="fn">christ59</strong></span>
									</dt>
									<dd class="description">Vestibulum leo auctor sed Cras fermentum sed eros neque tristique pretium. 
										In nibh feugiat convallis felis ac.</dd>
								</dl>
								<dl class="hreview">
									<dt class="reviewer vcard">
										<span class="five" title="5"><strong class="fn">bubblews</strong></span>
									</dt>
									<dd class="description">Vestibulum leo auctor sed Cras fermentum sed eros neque tristique pretium. 
										In nibh feugiat convallis felis ac.</dd>
								</dl>
								<dl class="hreview">
									<dt class="reviewer vcard">
										<span class="four" title="4"><strong class="fn">thisisalonglongaliasforauser</strong></span>
									</dt>
									<dd class="description">Vestibulum leo auctor sed Cras fermentum sed eros neque tristique pretium. 
										In nibh feugiat convallis felis ac.</dd>
								</dl>
								<dl class="hreview">
									<dt class="reviewer vcard">
										<span class="three" title="3"><strong class="fn">christ59</strong></span>
									</dt>
									<dd class="description">Vestibulum leo auctor sed Cras fermentum sed eros neque tristique pretium. 
										In nibh feugiat convallis felis ac.</dd>
								</dl>
								<dl class="hreview">
									<dt class="reviewer vcard">
										<span class="three" title="3"><strong class="fn">bubblews</strong></span>
									</dt>
									<dd class="description">Vestibulum leo auctor sed Cras fermentum sed eros neque tristique pretium. 
										In nibh feugiat convallis felis ac.</dd>
								</dl>
							</div>
							<p class="tabs-link"><a href="#modal-comments" class="k-modal-trigger">Add a comment</a></p>
						</div>
					</section>
					
				</div>
				
					
					
		</div><!-- /main -->
		
		<aside role="complementary">
			<h2 class="k-no-display">Transversal content</h2>
			<section class="k-basket k-panel">
				<h3 class="control ui-state-active"><a href="#" title="Click to fold/unfold block">Basket (3)</a></h3>
				<div class="content">
					<dl class="basket-item new-item">
						<dt><a href="#" title="See Product sheet"><img src="../img/image_examples/prod_inbasket.png" alt="Article" /></a></dt>
						<dd class="name"><a href="#">Leather Bag Kawwa Power /Gray</a></dd>
						<dd class="k-quantity"><input class="uppydowner" value="1" type="text" title="Define quantity to add to basket" /></dd>
						<dd class="price">233,00 &euro;</dd>
					</dl>
					<dl class="basket-item">
						<dt><a href="#" title="See Product sheet"><img src="../img/image_examples/prod_inbasket.png" alt="Article" /></a></dt>
						<dd class="name"><a href="#">Bag Kawwa Power</a></dd>
						<dd class="k-quantity"><input class="uppydowner" value="1" type="text" title="Define quantity to add to basket" /></dd>
						<dd class="price">1.233,00 &euro;</dd>
					</dl>
					<dl class="basket-item">
						<dt><a href="#" title="See Product sheet"><img src="../img/image_examples/prod_inbasket.png" alt="Article" /></a></dt>
						<dd class="name"><a href="#">Bag</a></dd>
						<dd class="k-quantity"><input class="uppydowner" value="1" type="text" title="Define quantity to add to basket" /></dd>
						<dd class="price">33,00 &euro;</dd>
					</dl>
					<p class="basket-total">TOTAL: <strong>1.499,00 &euro;</strong></p>
					<ul class="k-buttons-bar">
						<li><a href="#" class="k-button optional">View basket</a></li>
						<li><a href="#" class="k-button">Checkout</a></li>
					</ul>
				</div>
			</section>
			
			<section class="k-accordion">
				<h3 class="control" title="Click to fold/unfold block">Delivery Info</h3>
				<div class="content">
					<ul class="k-links-list">
						<li><a href="#">Delivery Options</a></li>
						<li><a href="#">International delivery</a></li>
					</ul>
				</div>
				<h3 class="control" title="Click to fold/unfold block">About Safe payment</h3>
				<div class="content">
					<p>This block may be used to all transversal info.</p>
					<p>You may use it also for a list of links:</p>
					<ul class="k-links-list">
						<li><a href="#">Link example</a></li>
						<li><a href="#">Another link example</a></li>
					</ul>
				</div>
				<h3 class="control" title="Click to fold/unfold block">Conditions of use</h3>
				<div class="content">
					<p>This block may be used to all transversal info.</p>
					<p>You may use it also for a list of links:</p>
					<ul class="k-links-list">
						<li><a href="#">Link example</a></li>
						<li><a href="#">Another link example</a></li>
					</ul>
				</div>
			</section>
		</aside>
		
	</div>
	
	<footer role="contentinfo">
		<p class="k-copyright">&copy; Your Copyright, 2013</p>
	</footer>
	
	<div id="modal-comments" class="k-modal">
		<h3 class="modal-header">Add a comment</h3>
		<div class="content">
			<form id="review-form" method="post" action="">
				<fieldset class="k-rating">
					<legend>Rate this article:</legend>
	    			<p><input name="star1" type="radio" value="1" />
						<input name="star1" type="radio" value="2" />
						<input name="star1" type="radio" value="3" />
						<input name="star1" type="radio" value="4" />
						<input name="star1" type="radio" value="5" /></p>
				</fieldset>
				<p><label class="simple" for="ipCommt">Your comments:</label> 
					<textarea id="ipCommt" name="ipCommt" rows="5" cols="50"></textarea></p>
		  		<p class="k-buttons-bar">
		  			<input type="submit" value="Submit comment" /> 
		  			<input type="reset" value="Cancel" /></p>
    		</form>
		</div>
	</div>
	
</div>


</body>
</html>

