/* ----------------------------- SITE SEARCH ------------------------------- */

form.k-search {
	
	input[type=submit] {font-size: 80%; padding: 0.2em;}
	
	.ui-state-hover, .ui-state-focus {
	    color: $identity_txt;
	    background: $identity_clr;
	}
}

#search-tag {width: 70%; font-size: 80%;}

.ui-autocomplete {
    position: absolute;
    color: #555;
    background: #FFF;
	padding: 0;
    border: 1px solid #BFBFBF;
    cursor: default;
    
    li {
	    list-style-type: none;
		padding: 0;
	}
	a, a:link, a:visited {display: block; padding: 2px 8px;}
	a:hover {
	    color: $identity_txt;
	    background: $identity_clr;
	}
}

