<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="kawwaportal-components Application Test Suite" annotations="1.5">
    <test name="Unit Tests">
    		<parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
			<parameter name="tapestry.browser-start-command" value="*googlechome" />
	         <packages>
				<package name="net.atos.kawwaportal.components.test"></package>
			</packages>
    </test>
</suite>
