<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="kawwaportal-components Application Test Suite" annotations="1.5">
    <test name="Unit Tests">
    		<parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
			<parameter name="tapestry.browser-start-command" value="*googlechrome" />
	         <classes>
			  	<class name="net.atos.kawwaportal.components.test.ValidationDecoratorTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.CollapsiblePanelTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.TipsyTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.SiteSearchTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.MainNavTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.Kawwa2GridTests"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.LanguageSelectionTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.ProductQuantityTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.DeliveryFormTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.LayoutTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.BreadCrumbTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.RatingsTest"></class>
	       	  	<class name="net.atos.kawwaportal.components.test.ProductGalleryTest"></class>
	        </classes>
    </test>
</suite>
