/*-------------------------------------------------------------------- 
          	  	 KAWWA2 - Theme 1
	          	Development Extensions
-------------------------------------------------------------------- */

/* --- HREVIEW --- */

div.k-review {height: auto; margin: 0.5em 0;}

.reviewer {font-style: italic;}

dl.rating {font-size: 100%; padding-bottom: 1em; border-bottom: 1px dashed #CCC;}
	dl.rating dt {font-weight: bold; margin-top: 0.5em;}
	
#globalRating {font-size: 0.85em; color: #06A; padding-bottom: 1em;}

.ratingTitle {font-weight: bold;}

/* --- COMMENTS FORM --- */

/* Fields width */
#ratingTitle {width: 25em;}

input.ratingCriteriaValue , select.ratingCriteriaValue {width: 2em;}








