/* ------------------------------------- HIGHLIGHT TEXTUAL BLOCK ---------------------------------- */


div.k-highlight-block {
	max-width: 40em;
	color: #444;
	background: #FFF;
	padding: 0.5em 3%;
	margin: 2em auto;
	border-top: 1px dashed $neutral_clr;
	border-bottom: 1px dashed $neutral_clr;
	
	p {
		font-weight: bold;
		font-style: italic;
		text-indent: 0;
	}
	
	@media screen and (min-width: 500px) {
		width: 80%;
		padding: 0.5em 5%;
		margin: 2em 5%;
	}
	
}


