/* ----------------------------- TREEVIEW STRUCTURE ------------------------------- */

div.k-tree-grid {
	float: left;
	width: 100%;
	padding: 0 0 1em;
	margin-bottom: 1em;
	border-top: 4px solid $identity_clr;
	border-bottom: 2px solid $identity_clr;
	
	div.tree {
		float: left;
		overflow: auto;
		width: 20%;
		height: 25em;
		padding: 1em 0 2%;
	}
	.tree-content {
		float: right;
		overflow: auto;
		width: 74%;
		height: 33em;
		padding: 2%;
		border-left: 1px solid $identity_clr; 
	}
	ul.actions {
		padding: 5px 5px 0;
		margin: 0 0 2em;
		background: $neutral_drk_clr;
	}
}


