/* ----------------------------- SITE MAP ------------------------------- */

ul.k-sitemap {
	padding: 0;
	
	li {
		list-style-type: none;
		font-size: 1em;
		padding-left: 2%;
		margin-right: 2%;
		border-left: 1px solid $neutral_md_clr;
		
		ul {
			margin-bottom: 2em;
			ul {margin: 0.3em 0;}
		}
		
		li {
			font-size: 90%;
			padding: 0.5em 0.3em;
			border: none;
			border-bottom: 1px dashed $neutral_md_clr;
			
			li {
				padding-left: 5px;
				border-bottom: none;
				border-left: 1px solid $neutral_md_clr;
			}
		}
		strong {
			display: block;
			font-size: 0.8em;
			color: #FFF;
			background: $identity_clr;
			padding: 0.5em 0.5em;
			
			a, a:link, a:visited {color: #FFF; background: transparent;}
		}
	}
	
	a, a:link {display: block; text-decoration: none;}
	a:hover {text-decoration: underline;}
	
	@media screen and (min-width: 760px) {
		> li {
			float: left;
			width: 20%;
		}
	}
}


