/* ----------------------------- PRODUCT REVIEW ------------------------------- */

div.k-review {margin-bottom: 1em;}

dl.h-review {
	padding: 10px 0;
	border-top: 1px solid $neutral_md_clr;
	
	dt {margin-bottom: 0.5em;}	
	.p-rating {padding-right: 5px;}
}	
		
p.average {
	font-size: 1em;
	text-transform: uppercase;
	margin: 0.5em 0;
}

@media screen and (min-width: 700px) {
	dl.h-review {
		float: left;
		width: 100%;
			
	
		dt {
			float: left;
			width: 20%;
			padding: 0 2% 0 0;
			margin: 0;
			word-wrap: break-word;
		}
		dd {
			float: right;
			width: 76%;
			padding-right: 2%;
			word-wrap: break-word;
		}
		.p-rating {display: block;}
	}		
}
