/* ----------------------------- NOTES ------------------------------- */

div.k-notes {
	clear: both;
	color: #000;
	background: $neutral_lgt_clr;
	padding: 2% 3%;
	margin: 2em 0;
	
	p {max-width: 40em;}
	ul {margin: 1em;}
}	
div.k-notes:first-of-type {margin-bottom: 4em;}

.k-article div.k-notes {
	p + p {margin: 0.18em 0; text-indent: 0;}
}


