/* ----------------------------- LIST OF LINKS ------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/07_linksList\/k-theme0\.scss}line{font-family:\0000387}}
ul.k-links-list {
  padding: 0;
  margin: 0 0 1em 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/07_linksList\/k-theme0\.scss}line{font-family:\0000391}}
  ul.k-links-list li {
    list-style-type: disc; }
