/* ------------------------------------- HIGHLIGHT TEXTUAL BLOCK ---------------------------------- */

div.k-highlight-block {
	width: 90%;
	max-width: 40em;
	color: $text_clr;
	background: #FFF;
	padding: 0.5em;
	margin: 2em;
	border-top: 1px dashed $neutral_clr;
	border-bottom: 1px dashed $neutral_clr;
	
	p {text-indent: 0;}
}



	
	

