/* ----------------------------- SUB-FIELDSETS ------------------------------- */

fieldset.k-sub-group {
  background: $neutral_lgt_clr;
  padding: 1em 2em;
  margin-bottom: 2em;
  border: none;
  
  legend {
    font-size: 1em;
    text-align: left;
    color: #000;
    background: $neutral_lgt_clr;
    padding: 0.2em 1em 0.5em;
    margin: 0;
    
    label {
      width: auto;
      color: #000;
      background: transparent;
      text-align: left;
    }
  }
}
