/* ----------------------------- ARTICLE ------------------------------- */

.k-article {
	max-width: 50em;
	margin: 0 4% 1em;
	padding-bottom: 1em;
	
	h2 {margin-bottom: 0;}
	ul, ol {max-width: 40em; margin: 1em 1em 1em 1.5em;}
	
	.e-content {
		p {line-height: 1.5;}
		> p:last-child::after {content: "\00A0 \2756"; color: $neutral_clr;}
		p + p, figure + p {text-indent: 1.3em;}
		p + p.k-readmore {text-indent: 0;}
		.p-name + ul.entry-info {margin-top: -1.5em;}
		
		li {line-height: 1.5;}
	}
	
	@media screen and (min-width: 1000px) {
		margin: 0 auto 1em;
		h2 {font-size: 3em;}
		p, li {font-size: 1.2em;}
	}
}
	
	
ul.entry-info {
	padding: 0;
	margin: 0 0 1.5em;
	
	li {display: inline; list-style-type: none; line-height: 1.7; font-size: 0.8em;}
}
ul.entry-info + .e-content {margin: 2.5em 0 0;}


.dt-published::after {
	content: "\2609";
	font-size: 100%;
	padding: 0 0.3em 0 0.5em;
	color: lighten($neutral_drk_clr, 35%);
	
	@media screen and (min-width: 490px) {
		font-size: 150%;
		vertical-align: -3px;
	}
}


