/* -------------------------- PRODUCT ------------------------ */


.k-product-sheet {
	
	.k-article {margin: 0;}
	 
	.price-data {
		text-align: center;
		margin: 2em 0;
	}
	
	.buy-zone {
		text-align: center;
		background: $neutral_lgt_clr;
		padding: 0.5em 1em 0.8em;
		margin: 2em 0;
	}
	.availability {margin-bottom: 0.5em;}
	
	@media screen and (min-width: 780px) {
		position: relative;
		
		header {position: absolute; width: auto; top: 0; left: 35%;}
		.p-name {font-size: 2em;}
		
		.photo-data {float: left; width: 35%; margin-bottom: 2em;}
		.product-data {clear: none; float: left; width: 60%; padding-top: 3em;}
		
		.price-data {
			float: left;
			width: 40%;
			text-align: left;			
			p {font-size: 1.5em;}
		}
		.buy-zone {
			float: right;
			width: 40%;
			text-align: right;
			background: transparent;
			padding: 0.5em 1em 0.8em;
			margin: 2em 0;
		}
		.availability {font-size: 0.8em; margin-bottom: 1em;}
	}
}
