<!DOCTYPE html>  
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="shortcut icon" href="../img/k-theme0/favicon.png" />
	<title>[KAWWA2 &raquo; Product Catalog]</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/k-theme0.css" rel="stylesheet" type="text/css" title="Default Theme" media="all" />
	<!--[if lt IE 9]><link href="../css/iehacks0.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!-- SCRIPTS -->
	<!--[if lt IE 9]>
		<script src="../js/html5shiv.js"></script>
		<script src="../js/ieGeneralFix.js">
	<![endif]-->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<!-- Here go your plug-ins -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.panel.awl.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.accordion.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.uppydowner.js"></script>
	<script type="text/javascript" src="../js/plugins/catalog_view_switcher.js"></script>
	<script type="text/javascript" src="../js/plugins/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

	<header role="banner">
		<h1>KAWWA <small>Markup Pattern Library</small></h1>
		<div class="k-tools">
			<p class="k-basket-sum"><a href="#" title="See basket details"><strong>3</strong> items in your basket</a></p>
		</div>
	</header>

	<nav>
		<h2 class="k-skip"><a href="#wrapper">Main navigation (Skip it)</a></h2>
		<div id="navbar">
			<p class="k-skip"><a href="#wrapper">Skip this menu</a></p>
			<ul class="k-navbar">
				<li class="home"><a href="../index.html">Home</a></li>
				<li class="active"><strong>Product Catalog</strong></li>
			</ul>
			<p class="k-breadcrumbs"><a href="#">Home</a> &gt; Product Catalog</p>
		</div>
	</nav>
	
	<hr />
		
	<div id="wrapper">

		<div id="main" role="main">
			
			<section class="k-catalog">
				<h2>Product Catalog</h2>
				
				<div class="k-pagination">
					<form id="pagination" method="post" action="">
						<p class="lines-to-display">
							<label>Display  
								<select name="display-value">
									<option value="10">6</option>
									<option value="15">12</option>
									<option value="20">24</option>
								</select> products per page</label>
						</p>
					</form>
					<p class="total-pages">Showing 1 to 6 of <strong>22</strong> articles</p>
					<p class="page-numbers">
						<img src="../img/k-theme0/pic_first_off.gif" alt="[ First page ]" /> 
						<img src="../img/k-theme0/pic_prev_off.gif" alt="[ Previous page ]" /> 
						<strong>1</strong> |  <a href="#">2</a> 
						<a href="#" title="Go to next page"><img src="../img/k-theme0/pic_next.gif" alt="[ Next page ]" /></a> 
						<a href="#" title="Go to last page"><img src="../img/k-theme0/pic_last.gif" alt="[ Last page ]" /></a>
					</p>
				</div>
			
				<ul class="catalog-view">
					<li><a href="#">Block View</a></li>
					<li><a href="#">List View</a></li>
				</ul>
				
				<form id="catalog-form" method="post" action="">
							<!-- hproduct -->
							<article class="k-product hproduct">
								<div class="photo-data">
									<p><a href="#" title="See Product sheet">
										<img class="photo" src="../img/image_examples/product_1235_cat.gif" alt="Title of product" /></a></p>
								</div>
								<div class="product-data">	
									<p class="extra new">new</p>
									<h3 class="fn name"><a href="#" title="See Product sheet">Product title</a></h3>
									<p class="rating zero" title="0/5"><a href="product_details.html#comments">0 comments</a></p>
									<div class="price-data">
										<p class="all-prices">
											<strong class="price new">50,50 &euro;</strong></p>
									</div>
								</div>
								<div class="buyZone">
									<p class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></p>
									<p class="buy"><a href="#">Add to basket</a></p>
								</div>
							</article>
							<!-- hproduct -->
							<article class="k-product hproduct">
								<div class="photo-data">
									<p><a href="#" title="See Product sheet">
										<img class="photo" src="../img/image_examples/product_1235_cat.gif" alt="Title of product" /></a></p>
								</div>
								<div class="product-data">
									<p class="extra new">new</p>
									<h3 class="fn name"><a href="#" title="See Product sheet">Product title</a></h3>
									<p class="rating one" title="1/5"><a href="product_details.html#comments">50 comments</a></p>
									<div class="price-data">
										<p class="all-prices"><strong class="price new">50,50 &euro;</strong></p>
									</div>
								</div>
								<div class="buyZone">
									<p class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></p>
									<p class="buy"><a href="#">Add to basket</a></p>
								</div>
							</article>
							<!-- hproduct -->
							<article class="k-product hproduct">
								<div class="photo-data">
									<p><a href="#" title="See Product sheet">
										<img class="photo" src="../img/image_examples/product_1235_cat.gif" alt="Title of product" /></a></p>
								</div>
								<div class="product-data">	
									<p class="extra new">new</p>
									<h3 class="fn name"><a href="#" title="See Product sheet">Product title</a></h3>
									<p class="rating two" title="2/5"><a href="product_details.html#comments">50 comments</a></p>
									<div class="price-data">
										<p class="all-prices"><strong class="price new">50,50 &euro;</strong></p>
									</div>
								</div>
								<div class="buyZone">
									<p class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></p>
									<p class="buy"><a href="#">Add to basket</a></p>
								</div>
							</article>

							<!-- hproduct -->
							<article class="k-product hproduct">
								<div class="photo-data">
									<p><a href="#" title="See Product sheet">
										<img class="photo" src="../img/image_examples/product_1235_cat.gif" alt="Title of product" /></a></p>
								</div>
								<div class="product-data">	
									<p class="extra sale"><span class="discount">-20%</span> sale</p>
									<h3 class="fn name"><a href="#" title="See Product sheet">Product title</a></h3>
									<p class="rating three" title="3/5"><a href="product_details.html#comments">50 comments</a></p>
									<div class="price-data">
										<p class="all-prices">
											<span class="hidden">Old price :</span> 
											<span class="old-price" title="Old price">50,50 &euro;</span><br />
											<strong class="price sale">50,50 &euro;</strong></p>
									</div>
								</div>
								<div class="buyZone">
									<p class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></p>
									<p class="buy"><a href="#">Add to basket</a></p>
								</div>
							</article>
							<!-- hproduct -->
							<article class="k-product hproduct">
								<div class="photo-data">
									<p><a href="#" title="See Product sheet">
										<img class="photo" src="../img/image_examples/product_1235_cat.gif" alt="Title of product" /></a></p>
								</div>
								<div class="product-data">	
									<p class="extra sale"><span class="discount">-20%</span> sale</p>
									<h3 class="fn name"><a href="#" title="See Product sheet">Product title long of two lines and something more</a></h3>
									<p class="rating four" title="4/5"><a href="product_details.html#comments">50 comments</a></p>
									<div class="price-data">
										<p class="all-prices">
											<span class="hidden">Old price :</span> 
											<span class="old-price" title="Old price">50,50 &euro;</span><br />
											<strong class="price sale">50,50 &euro;</strong></p>
									</div>
								</div>
								<div class="buyZone">
									<p class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></p>
									<p class="buy"><a href="#">Add to basket</a></p>
								</div>
							</article>
							<!-- hproduct -->
							<article class="k-product hproduct">
								<div class="photo-data">
									<p><a href="#" title="See Product sheet">
										<img class="photo" src="../img/image_examples/product_1235_cat.gif" alt="Title of product" /></a></p>
								</div>
								<div class="product-data">	
									<h3 class="fn name"><a href="#" title="See Product sheet">Product title</a></h3>
									<p class="rating four" title="4/5"><a href="product_details.html#comments">50 comments</a></p>
									<div class="price-data">
										<p class="all-prices">
											<strong class="price">50,50 &euro;</strong></p>
									</div>
								</div>
								<div class="buyZone">
									<p class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></p>
									<p class="buy"><a href="#">Add to basket</a></p>
								</div>
							</article>
						</form>
							
							<div class="k-pagination">
								<p class="page-numbers">
									<img src="../img/k-theme0/pic_first_off.gif" alt="[ First page ]" /> 
									<img src="../img/k-theme0/pic_prev_off.gif" alt="[ Previous page ]" /> 
									<strong>1</strong> |  <a href="#">2</a> 
									<a href="#" title="Go to next page"><img src="../img/k-theme0/pic_next.gif" alt="[ Next page ]" /></a> 
									<a href="#" title="Go to last page"><img src="../img/k-theme0/pic_last.gif" alt="[ Last page ]" /></a>
								</p>
							</div>
					</section>
					<div class="k-orientation-aid">
						<p class="go-back"><a href="#" title="Go to the previous page">Back</a></p>
						<p class="go-top"><a href="#container" title="Go to the top of the page">Top</a></p>
					</div>

		</div><!-- /main -->
		
		
		<aside role="complementary">
			<h2 class="k-skip">Transversal content</h2>
			<section class="k-basket k-panel">
				<h3 class="control ui-state-active"><a href="#" title="Click to fold/unfold block">Basket (3)</a></h3>
				<div class="content">
					<dl class="basket-item new-item">
						<dt><a href="#" title="See Product sheet"><img src="../img/image_examples/product_1112_thumb.jpg" alt="Article" /></a></dt>
						<dd class="name"><a href="#">Bag Banana Republic Gray and so on with a very very big title indeed</a></dd>
						<dd class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></dd>
						<dd class="price">233,00 &euro;</dd>
					</dl>
					<dl class="basket-item">
						<dt><a href="#" title="See Product sheet"><img src="../img/image_examples/product_1112_thumb.jpg" alt="Article" /></a></dt>
						<dd class="name"><a href="#">Bag Banana Republic Gray</a></dd>
						<dd class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></dd>
						<dd class="price">1.233,00 &euro;</dd>
					</dl>
					<dl class="basket-item">
						<dt><a href="#" title="See Product sheet"><img src="../img/image_examples/product_1112_thumb.jpg" alt="Article" /></a></dt>
						<dd class="name"><a href="#">Bag</a></dd>
						<dd class="k-quantity"><input type="number" title="Define quantity to add to basket" value="1" /></dd>
						<dd class="price">33,00 &euro;</dd>
					</dl>
					<p class="basket-total">TOTAL: <strong>1.499,00 &euro;</strong></p>
					<ul class="k-buttons-bar">
						<li><a href="#" class="k-button optional">View basket</a></li>
						<li><a href="#" class="k-button">Checkout</a></li>
					</ul>
				</div>
			</section>
			<section class="k-accordion">
				<h3 class="control" title="Click to fold/unfold block">Accordion Block</h3>
				<div class="content">
					<p>This is an alternative to sliding panels or to info blocks.</p>
					<p>Accordions go by groups of blocks, and only one block is opened at a time.</p>
				</div>
				<h3 class="control" title="Click to fold/unfold block">Accordion Block</h3>
				<div class="content">
					<p>This block may be used to all transversal info.</p>
					<p>You may use it also for a list of links:</p>
					<ul class="k-links-list">
						<li><a href="#">Link example</a></li>
						<li><a href="#">Another link example</a></li>
					</ul>
				</div>
				<h3 class="control" title="Click to fold/unfold block">Accordion Block</h3>
				<div class="content">
					<p>This block may be used to all transversal info.</p>
					<p>You may use it also for a list of links:</p>
					<ul class="k-links-list">
						<li><a href="#">Link example</a></li>
						<li><a href="#">Another link example</a></li>
					</ul>
				</div>
			</section>
		</aside>
	</div>
	
	<footer role="contentinfo">
		<p class="k-copyright">&copy; Your Copyright, 2013</p>
	</footer>
	
</div>


</body>
</html>

