/* --------------------------------------------------------------------------- */
/* -------------------------- THEME'S DEFAULT VALUES ------------------------- */
/* --------------------------------------------------------------------------- */


body {
	font: 100%/1.3 $font_stack;
	color: $text_clr;
	background: #FFF;
}

header[role=banner] {
    float: left;
    width: 90%;
    color: #FFF;
	background: $identity_clr;
}


nav {
	h1, h2, h3, h4, h5 {
		position: absolute;
		overflow: hidden;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
	}
}

h1 {
	float: left;
	width: 30%;
	min-height: 1.5em;
	font: 1.5em/1 $title_stack;
	text-transform: uppercase;
	padding: 0.5em 0 0.3em 4%;
	
	small {
		display: block;
		font-size: 50%;
		color: $neutral_lgt_clr;
		background: #000;
		padding-left: 0.1em;
	}
}

h2 {
	font: normal 2em/1 $title_stack;
	text-transform: uppercase;
	
	@media screen and (min-width: 790px) {font-size: 2.5em;}
}

h3 {
	font: normal 1.8em/1.2 $title_stack;
	text-transform: uppercase;
	padding: 5px 0;
	margin: 1em 0 0.5em;
}
	
h4 {
	font: 1.5em/1.2 $title_stack;
	padding: 5px 0;
	margin: 1em 0 0.5em;
}

h5 {
	font-size: 1.3em;
	margin: 1em 0 0.5em;
}
h6 {
	font-size: 1.2em;
	margin: 1em 0 0.5em;
}
	
p, li, dt, dd {font-size: 0.9em;}
li {
	line-height: 1.3;
	padding: 3px 0;
	
	li, dt, dd {font-size: 100%;}
}

td {
	p, li {font-size: 100%;}
}

p + ul {margin: 0.5em 0;}

code {font-size: 120%;}

small {font-size: 80%;}

a, a:link {color: $hot_clr; background: transparent;}
a:visited {color: $text_clr; background: transparent;}
a:hover, a:focus {text-decoration: none;}

abbr {border-bottom: 1px dashed $neutral_clr;}

em {font-family: $italic_stack;}

	
/* --------------------------------------------------------------------------- */
/* ----------------------------- FORM DEFAULTS ------------------------------- */
/* --------------------------------------------------------------------------- */


form {	
	p {
		margin: 0.3em 5%;
		@media screen and (min-width: 790px) {display: table-row;}
	}
	p.highlight {
		background: $neutral_md_clr;
		padding: 1em 1em 0.5em;
		margin-bottom: 1em;
		
		label {display: inline;}
		@media screen and (min-width: 790px) {display: block;}
	}
}

fieldset {
	clear: both;
	background: $neutral_lgt_clr;
	padding-bottom: 1em;
	margin-bottom: 2em;
	border: 0;
	
	fieldset {
		clear: none;
		padding: 0;
		margin: 0;
		border: none;
	}
	ul {margin: 0 0 20px 20px;}
}

legend {
	font-size: 1.2em;
	font-weight: bold;
	color: $identity_clr;
	background: $neutral_lgt_clr;
	padding: 0.3em 1em 0.5em 1em;
	margin-bottom: 1em;
}
	legend::after {
		position: relative;
		top: -0.2em;
		content: "\00A0\00A0 \25BC";
		font-size: 70%;
	}

label {
	display: block;
	font-weight: bold;
	
	@media screen and (min-width: 790px) {
		display: table-cell;
		text-align: right;
		padding: 0 10px 0 2em;
		vertical-align: top;
	}
	
	em {color: #F00; background: transparent;}
}
	label.simple {display: block; text-align: left;}


/* --- General inputs --- */

input {
	max-width: 90%;
	padding: 0.2em;
	margin: 0 0 5px 0;
	border: 1px inset $neutral_drk_clr;
	border-radius: 3px;
	box-shadow: none;
	transition: box-shadow 1s;
}
	
input[type=checkbox], input[type=radio] {
	background: #FFF;
	border: none;
}

input:focus, select:focus, textarea:focus {
	border: 1px solid $neutral_clr;
	box-shadow: 0 0 3px $neutral_clr;
}
	
input[type=text]:disabled, input[type=text]:disabled:hover {
	font-family: $font_stack;
	color: $text_clr;
	background: $neutral_md_clr;
	border-color: $neutral_md_clr;
	cursor: default;
}

select {
	font-size: 90%;
	padding: 2px;
	border: 1px solid $neutral_md_clr;
}		
textarea {
	width: 90%;
	font-size: 120%;
	padding: 0 0 2px 2px;
	border: 1px inset $neutral_drk_clr;
	border-radius: 3px;
}


/* --------------------------------------------------------------------------- */
/* ----------------------------- TABLES DEFAULTS ----------------------------- */
/* --------------------------------------------------------------------------- */

p + table {margin-top: 1em;}

caption {
	font: 1.5em $title_stack;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #FFF;
	background: $identity_clr;
	padding: 5px 8px;
}

tr:nth-child(even) {color: #000; background: lighten($secondary_clr, 65%);}

th, td {
	font-size: 0.95em;
	text-align: left;
	padding: 5px 8px;
	border-bottom: 1px solid $neutral_lgt_clr;
}

th {
	color: #FFF;
	background: $neutral_clr;
	border-top: 1px solid #FFF;
	border-bottom: 2px solid $neutral_lgt_clr;
	
	a, a:link, a:visited {color: #FFF; background: $neutral_clr; padding-right: 20px;}
	
	a.descending, a.descending:link, a.descending:visited {
		background: $neutral_clr url(../img/k-theme0/sort_desc.png) right no-repeat;
	}
	a.ascending, a.ascending:link, a.ascending:visited {
		background: $neutral_clr url(../img/k-theme0/sort_asc.png) right no-repeat;
	}
}
