/* --------------------------------------------------------------------------- */
/* -------------------------- THEME'S DEFAULT VALUES ------------------------- */
/* --------------------------------------------------------------------------- */


/* --- DEFAULTS --- */

body {
	font: 100%/1.3 $font_stack;
	color: $text_clr;
	background: #FFF;
}

nav {
	h1, h2, h3, h4, h5 {
		position: absolute;
		overflow: hidden;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
	}
}

h1 {
	float: left;
	width: 30%;
	min-height: 1.5em;
	font: 1.5em/1 $title_stack;
	text-transform: uppercase;
	padding: 0.5em 0 0.3em 4%;
	
	small {
		display: block;
		font-size: 50%;
		color: $neutral_lgt_clr;
		background: #000;
		padding-left: 0.1em;
	}
}

h2 {
	font: normal 2.4em/1 $title_stack;
	text-transform: uppercase;
}

h3 {
	font: normal 1.8em/1.2 $title_stack;
	text-transform: uppercase;
	padding: 5px 0;
	margin: 1em 0 0.5em;
}
	
h4 {
	font: 1.5em/1.2 $title_stack;
	padding: 5px 0;
	margin: 1em 0 0.5em;
}

h5 {
	font-size: 1.3em;
	margin: 1em 0 0.5em;
}
h6 {
	font-size: 1.2em;
	margin: 1em 0 0.5em;
}
	
p, li, dt, dd {font-size: 0.9em;}
li {
	line-height: 1.3;
	padding: 3px 0;
	
	li, dt, dd {font-size: 100%;}
}

td {
	p, li {font-size: 100%;}
}

p + ul {margin: 0.5em 0;}

code {font-size: 120%;}

small {font-size: 80%;}

a, a:link {color: $hot_clr; background: transparent;}
a:visited {color: $text_clr; background: transparent;}
a:hover, a:focus {text-decoration: none;}

abbr {border-bottom: 1px dashed $neutral_clr;}

em {font-family: $italic_stack;}

	
/* --------------------------------------------------------------------------- */
/* ----------------------------- FORM DEFAULTS ------------------------------- */
/* --------------------------------------------------------------------------- */


form {
	
	p {margin: 0.3em 0;}
	p.highlight {background: $neutral_drk_clr; padding: 1em 0 0.5em;}
}

fieldset {
	clear: both;
	background: $neutral_lgt_clr;
	padding: 1% 2%;
	margin-bottom: 1em;
	border: 0;
	
	fieldset {
		clear: none;
		padding: 0;
		margin: 0;
		border: none;
	}
	
	ul {margin: 0 0 20px 20px;}
}

legend {
	font-size: 1.5em;
	color: $identity_clr;
	background: $neutral_lgt_clr;
	text-transform: uppercase;
	padding: 0 0.5em;
	margin-bottom: 1em;
}

label {
	float: left;
	width: $labelW;
	font-weight: bold;
	text-align: right;
	padding-right: 15px;
	
	em {color: #F00; background: transparent;}
}
	label.simple {display: block; text-align: left;}


/* --- General inputs --- */

input {
	padding: 0.2em;
	margin: 0 0 5px 0;
	border: 1px inset $neutral_drk_clr;
	border-radius: 3px;
}

input[type=checkbox], input[type=radio] {
	background: #FFF;
	border: none;
}

input:focus, select:focus, textarea:focus {background: $neutral_lgt_clr; border: 1px solid $hot_clr;}
input[type=checkbox]:focus, input[type=radio]:focus {
	outline: 2px solid $hot_clr;
}
	
input[type=text]:disabled, input[type=text]:disabled:hover {
	font-family: $font_stack;
	color: $text_clr;
	background: $neutral_md_clr;
	border-color: $neutral_md_clr;
	cursor: default;
}

select {
	font-size: 90%;
	padding: 2px;
	border: 1px solid $neutral_md_clr;
}		
textarea {
	width: 90%;
	font-size: 120%;
	padding: 0 0 2px 2px;
	border: 1px inset $neutral_drk_clr;
	border-radius: 3px;
}

/* FORM CONTROL BUTTONS */

/* Buttons bar for inputs */
.k-buttons-bar {
    clear: both;
    text-align: right;
    padding: 0;
    margin: 0 0 20px;
    border: none;
    
    li {
			display: inline;
			font-size: 0.95em;
			list-style-type: none;
		}
}

/* Valid actions - must duplicate declarations for IE6!!*/
input[type=button], input[type=submit] {
	font: 100% $title_stack;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	color: #FFF;
	background: $secondary_clr;
	padding: 0.3em 1em;
	margin: 0 0.3em 0.5em;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
	cursor: pointer;
}

/*hover*/
input[type=button]:hover, input[type=submit]:hover {
	color: #FFF;
	background: $identity_clr;
}

/*focus*/
input[type=button]:focus, input[type=submit]:focus {
	color: #FFF;
	background: $identity_clr;
}


/* Disabled actions */

input[type=submit]:disabled, input[type=button]:disabled {
	text-shadow: none;
	color: $neutral_drk_clr;
	background: $neutral_md_clr;
	box-shadow: none;
	cursor: default;
}
	
/* Optional actions */
input[type=button].optional, input[type=submit].optional {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
	color: #FFF;
	background: $neutral_drk_clr;
}

/*hover*/
input[type=button].optional:hover, input[type=submit].optional:hover {
	color: #FFF;
	background: $identity_clr;
}

/*focus*/
input[type=button].optional:focus, input[type=submit].optional:focus {
	color: #FFF;
	background: $identity_clr;
}
	
/* Reset Actions */
input[type=button].reset, input[type=reset] {
	font: 100% $title_stack;
	text-transform: uppercase;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	color: #FFF;
	background: $neutral_drk_clr;
	padding: 0.3em 1em;
	margin: 0 5px 8px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0,0,0,.5);
	cursor: pointer;
}
	
/* Hover/Focus */
input[type=button].reset:hover, input[type=reset]:hover {
	color: #FFF;
	background: $identity_clr;
}

input[type=button]:focus, input[type=reset]:focus {
	color: #FFF;
	background: $identity_clr;
}


