/* ----------------------------- PAGINATION ------------------------------- */

div.k-pagination {
	clear: both;
	margin: 2em 0;
	padding: 0.5em 0 0.7em;
	border-top: 4px solid $identity_clr;
}
div.k-pagination:last-child {margin-bottom: 0;}

p.total-pages {
	font-size: 1em;
	text-transform: uppercase;
	color: $text_clr;
	background: $neutral_lgt_clr;
	padding: 0.3em 0.5em;
	margin: 0 0 0.8em;
}

.page-numbers {
		
	li {display: inline-block; list-style-type: none;}
	
	a, a:link, a:visited {
		display: inline-block;
		width: 2em;
		height: 2em;
		text-align: center;
		text-decoration: none;
		color: $text_clr;
		background: $neutral_md_clr;
		padding: 0.6em 0.4em 0;
		margin: 0 0.1em;
		border-radius: 3px;
		vertical-align: middle;
		
		img {position: relative; top: -3px; left: 0;}
	}
	a:hover {background: $neutral_clr;}
	strong {
		display: inline-block;
		width: 2em;
		height: 2em;
		text-align: center;
		text-decoration: none;
		color: #FFF;
		background: $identity_clr;
		padding: 0.6em 0.4em 0;
		margin: 0 0.1em;
		border-radius: 3px;
		border: 1px solid $identity_clr;
		vertical-align: middle;
	}
	.disabled {
		display: inline-block;
		width: 2em;
		height: 2em;
		text-align: center;
		text-decoration: none;
		color: $text_clr;
		background: $neutral_md_clr;
		padding: 0.6em 0.4em 0;
		margin: 0 0.1em;
		border-radius: 3px;
		vertical-align: middle;
		opacity: .5;
		
		img {position: relative; top: -3px; left: 0;}
	}
}

p.lines-to-display {
	clear: both;
	text-align: right;
	padding-top: 1em;
	margin: 1em 0;
	border-top: 1px dashed $neutral_clr;
	
	label {display: inline; width: auto; font-weight: normal; margin-top: -0.3em;}
}

@media screen and (min-width: 700px) {
	.page-numbers {
		float: right;
		width: 65%;
		text-align: right;
		margin: 0 0 0.6em;
	}
	p.total-pages {
		float: left;
		width: 25%;
		background: transparent;
		margin: 0 0 0.5em;
	}
}

