/* ----------------------------- MAIN NAVIGATION ------------------------------- */


/* Navigation control */
p.control {
	display: none;
	position: absolute;
	top: 5px;
	right: 3%;
	width: 45px;
	
	a, a:link {display: block;}
} 

ul.k-navbar {
	padding: 0;
	margin: 4px 0 2em;
	
	> li {
		float: left;
		width: auto;
		list-style-type: none;
		font: 1em $title_stack;
		text-transform: uppercase;
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
		margin: 0 1px;
	}
	a, a:link, a:visited {
		display: block;
		text-decoration: none;
		color: #FFF;
		background: #000;
		padding: 0.5em;
	}
	a:hover, a:focus {color: #FFF;	background: $neutral_clr;}
	
	// ACTIVE SECTION/ NO LINK
	li.active strong {
		display: block;
		font-family: $title_stack;
		font-weight: normal;
		text-transform: uppercase;
		color: #FFF;
		background-color: $neutral_clr;
		padding: 0.5em;
	}
	// ACTIVE SECTION / LINK
	li.active a, li.active a:link, li.active a:visited {
		color: #FFF;
		background-color: $neutral_clr;
	}
	
	// IF SECTION HAS DROPDOWN
	a.hasdropdown, a.hasdropdown:link, a.hasdropdown:visited {
		color: #FFF;
		background: #000 url(../img/k-theme0/bg_hasdropdown.png) right bottom no-repeat;
		padding-right: 20px;
	}
	a.hasdropdown:hover, a.hasdropdown:focus {
		color: #FFF;
		background: $neutral_clr url(../img/k-theme0/bg_hasdropdown_on.png) right bottom no-repeat;
	}
	li.active a.hasdropdown, li.active a.hasdropdown:link, li.active a.hasdropdown:visited {
		color: #FFF;
		background: $neutral_clr url(../img/k-theme0/bg_hasdropdown_on.png) right bottom no-repeat;
	}
	li.active a.hasdropdown:hover, li.active a.hasdropdown:focus {
		color: #FFF;
		background: $neutral_clr url(../img/k-theme0/bg_hasdropdown_on.png) right bottom no-repeat;
	}

}
		
		
/* SECOND LEVEL UL - Dropdown menu */
.dropdown {
	ul {
		display: none;
		position: absolute;
		width: 25em;
		color: #FFF;
		background: $neutral_clr;
		padding: 0;
		box-shadow: 0 2px 2px rgba(0,0,0,.5);
		z-index: 2000;
	}
	
	li {
		float: none;
		padding: 0.2em;
		margin: 0;
		border-bottom: 1px dotted #FFF;
		border-right: none;
		
		a, a:link, a:visited {
			display: block;
			text-decoration: none;
			color: #FFF;
			background: none;
			padding: 0.3em;
		}
		a:hover, a:focus {
			text-shadow: none;
			color: #000;
			background: $neutral_clr;
		}
	}
	li:last-child {border: none;}
	li.active a:hover, li.active a:focus {
		text-shadow: none;
		color: #000;
		background: $neutral_clr;
	}
	 
}

/* Media queries for responsive navigation - 
Modify max-width value to match your needs */

@media only screen and (max-width : 800px) {
	p.control {display: block;}
	ul.k-navbar {display: none; margin: 0; border-top: 2px solid #FFF;}
	ul.k-navbar > li {float: none; clear: both; padding: 0 0 1px; }
	ul.k-navbar a {display: block;}
	.dropdown ul {position: static; width: 100%;}	
	ul.k-navbar .dropdown li {padding-left: 25px;}
}

		
