/* ----------------------------- NOTES ------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/08_notes\/k-theme0\.scss}line{font-family:\0000387}}
div.k-notes {
  clear: both;
  color: #000;
  background: #eeeeee;
  padding: 2% 3%;
  margin: 2em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/08_notes\/k-theme0\.scss}line{font-family:\0000394}}
  div.k-notes p {
    max-width: 40em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/08_notes\/k-theme0\.scss}line{font-family:\0000395}}
  div.k-notes ul {
    margin: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/08_notes\/k-theme0\.scss}line{font-family:\0000399}}
.k-article div.k-notes p + p {
  margin: 0.18em 0;
  text-indent: 0; }
