/* --------------------------- NO DISPLAY CONTENT ------------------------------ */

.k-no-display {
	position: absolute !important;
	overflow: hidden;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

