/* -------------------------- GROUP OF CHEKBOXES ------------------------ */

/* In a fieldset */
fieldset.k-check {
	margin: 0 5% 1em;
	
	legend {
		font-size: 90%;
		font-weight: bold;
		text-transform: none;
		margin: 0 0 0.3em;
		padding: 0;
	}
	legend::after {content: "";}
	
	label {font-weight: normal;}
	
	p {margin: 0;}
	
	ul {
		float: left;
		width: auto;
		list-style-type: none;
		padding: 0;
		margin: 0.3em 0 0;
	}
	
	@media screen and (min-width: 790px) {
		padding: 0.5em 1em;
		margin: 0 2em 1em;
		border: 2px solid #FFF;
		
		legend {padding: 0 0.5em;}
		label {padding: 0;}
	}
}

/* Applied to paragraphs */
p.k-check {
	background: #FFF;
	padding: 0.5em 1em;
	margin: 1em 5%;
	
	label {
		display: inline;
		font-weight: normal;
		text-align: left;
		padding: 0;
	}
	
	@media screen and (min-width: 790px) {display: block; margin: 1em 2em;}
}

/* --- TOUCH --- */

.flexNav-touch {
	fieldset.k-check {
		label {
			display: inline-block;
			font-size: 140%;
			font-weight: normal;
			padding: 0.3em 0.5em;
			margin-right: 1em;
			border: 1px solid $neutral_md_clr;
			border-radius: 3px;
		}

	}
}

/* Unique labels */
label.k-check {
	float: none;
	width: auto;
	font-weight: normal;
	text-align: left;
}

/* List of inputs */
ul.k-check {
	margin: 0;
	
	li {display: inline-block; padding: 0 2% 0 0;}
}

