/* ----------------------------- ARTICLE ENTRY ------------------------------- */

h2 + .k-entry {margin-top: 2em;}

.k-entry {
	clear: both;
	max-width: 55em;
	border-bottom: none;
	
	.p-name {
		position: relative;
		font-size: 2em;
		padding: 0;
		margin: 0 0 0.5em;
		
		a, a:link {
			display: block;
			text-decoration: none;
			color: $text_clr;
			background: #FFF;
			padding: 0.5em;
			border-top: 4px solid #000;
		}
		a:visited {color: #666; background: #FFF;}
		a:hover, a:focus {color: $hot_clr; background: #FFF;}
	}
	
	// Exceptions for entry level 
	
	ul.entry-info, .e-content {padding-left: 2%;}
	ul.entry-info + .e-content {margin: 0;}

	// QUERIES
	@media screen and (min-width: 690px) {
		ul.entry-info {
			display: table-cell;
			width: 10em;
		
			li {display: block; line-height: 1; font-size: 0.8em;}
		}
		.dt-published::after {content: "";}
		.e-content {display: table-cell;}
	} 
}
