/* ----------------------------- ARTICLE ENTRY ------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\0000387}}
h2 + .k-entry {
  margin-top: 2em; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\0000389}}
.k-entry {
  clear: both;
  max-width: 55em;
  border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\0000394}}
  .k-entry .p-name {
    position: relative;
    font-size: 2em;
    line-height: 1;
    text-transform: none;
    padding: 0;
    margin: 0 0 0.5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003102}}
    .k-entry .p-name a, .k-entry .p-name a:link {
      display: block;
      text-decoration: none;
      color: #050505;
      background: #FFF;
      padding: 2%;
      border-top: 4px solid #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003110}}
    .k-entry .p-name a:visited {
      color: #666;
      background: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003111}}
    .k-entry .p-name a:hover, .k-entry .p-name a:focus {
      color: #a40800;
      background: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003116}}
  .k-entry ul.entry-info, .k-entry .e-content {
    padding-left: 2%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003117}}
  .k-entry ul.entry-info + .e-content {
    margin: 0; }
  @media screen and (min-width: 690px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003121}}
    .k-entry ul.entry-info {
      display: table-cell;
      width: 10em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003125}}
      .k-entry ul.entry-info li {
        display: block;
        line-height: 1;
        font-size: 0.8em; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003127}}
    .k-entry .dt-published::after {
      content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/workspaces\/KawwaLib\/Portal\/kawwa_components\/scss\/temporary\/07_editorial\/02_articleEntry\/k-theme0\.scss}line{font-family:\00003128}}
    .k-entry .e-content {
      display: table-cell; } }
