/* ------------------------- LOGIN DATA ------------------------- */

p.k-login-data {
	position: absolute;
	width: 15%;
	top: 5.1em;
	right: 4%;
	font-size: 0.8em;
	text-align: right;
	padding: 0.8em 0.5em 0 0;
	border-right: 1px solid $identity_clr;
}
