/* -------------------------- GROUP OF CHEKBOXES ------------------------ */

/* In a fieldset */
fieldset.k-check {
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
	
	// Here, legend style mimics label
	legend {
		float: left;
		width: $labelW;
		font-size: 1em;
		font-weight: bold;
		text-transform: none;
		text-align: right;
		padding: 8px 15px 0 0;
		margin: 0;
	}
	label {
		float: none;
		display: inline;
		text-align: left;
		font-weight: normal;
		padding-right: 1.5em;
	}
	p {float: left; width: auto;}
	ul {
		float: left;
		width: auto;
		list-style-type: none;
		padding: 0;
		margin: 0.3em 0 0;
	}
}

/* Applied to paragraphs */
p.k-check {
	width: auto;
	padding-left: 16.3em;
	
	label {
		float: none;
		width: auto;
		font-weight: normal;
		text-align: left;
	}
}

/* Unique labels */
label.k-check {
	float: none;
	width: auto;
	font-weight: normal;
	text-align: left;
}

/* List of inputs */
ul.k-check {
	margin: 0;
	
	li {display: inline-block; padding: 0 2% 0 0;}
}

