/* ----------------------------- VERTICAL MENU ------------------------------- */

.k-vertical-menu {
	
	> ul {
		clear: both;
		padding: 0;
		margin: 0;
	
		> li {
			float: left;
			width: 100%;
			list-style-type: none;
			font: 1em $title_stack;
			text-transform: uppercase;
			padding: 0 0 0.1em;
		}
		
	}
	
	a, a:link, a:visited {
		display: block;
		text-decoration: none;
		color: $neutral_txt;
		background: $neutral_clr url(../img/k-theme0/unfold-trans.png) right 0.5em no-repeat;
		padding: 0.5em 28px 0.5em 0.7em;
		cursor: pointer;
	}
	a:focus {
		color: $identity_txt;
		background: $identity_clr url(../img/k-theme0/unfold-trans.png) right 0.5em no-repeat;
	}
	a.active, a.active:link, a.active:visited {
		color: $identity_txt;
		background: $identity_clr url(../img/k-theme0/fold-trans.png) right 0.5em no-repeat;
	}
	
	// If there is no sub-menu
	a.no-child, a.no-child:link, a.no-child:visited {
		background-image: none;
	}
	a.no-child:focus {background-image: none;}
	a.no-child.active, a.no-child.active:link, a.no-child.active:visited {
		background: $identity_clr;
	}
}

.k-vertical-menu + .k-vertical-menu {clear: both; padding-top: 2em;}
	
// Level 2 list

ul.level2 {
	padding: 0;
	
	> li {
		width: 94%;
		font-size: 90%;
		list-style-type: none;
		font-family: $font_stack;
		text-transform: none;
		color: #000;
		background: #FFF; 
		padding: 0.5em 2% 0.5em 0.7em;
		border-top: 1px dashed $neutral_md_clr;
		
		ul {padding-left: 1em;}
	}
	li:first-child {border: none;}
	
	a, a:link {
		text-decoration: none;
		color: $neutral_drk_clr;
		background: #FFF;
		padding-left: 0;
	}
	a:visited {color: $neutral_clr; background: #FFF;}
	a:hover, a:focus {text-decoration: underline;}
	
}
	
/* Touch specifics */
html.touch {
	.k-vertical-menu > ul > li {font-size: 1.2em;}
}
		
	
