<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<title>Your Title goes here</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" />
	<link href="../css/k-theme2.css" rel="stylesheet" type="text/css" title="Default Theme" media="screen" />
	<link href="../css/k-print2.css" rel="stylesheet" type="text/css" media="print" />
	<!--[if lt IE 9]><link href="../css/iehacks2.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!-- SCRIPTS -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<!-- Here go your plug-ins -->
	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

	<div id="header">
		<h1></h1>
		<div class="k-tools">
			<ul class="k-tools-list">
				<li><a href="tools/sitemap.html">Site map</a></li>
				<li><a href="tools/contact.html">Contact us</a></li>
			</ul>
		</div>
	</div>

	<div id="navbar">
		<p class="k-skip"><a href="#wrapper">Skip this menu</a></p>
		<ul class="k-navbar">
			<li class="home"><a href="index.html">Home</a></li>
			<li class="active"><a href="#">Section 1</a></li>
			<li><a href="#">Section 2</a></li>
		</ul>
		<p class="k-breadcrumbs">
			<a href="#">Home</a> &gt; Section 1</p>
	</div>
	
	<hr />
		
	<div id="wrapper">
			
		<div id="menu">
		</div>
		
		<div id="main">
		</div><!-- /main -->
			
		<div id="sidebar">
		</div>
			
	</div><!-- /wrapper -->
	
	<div id="footer">
		<p class="k-copyright">&copy; Your copyright, 2011</p>
	</div>
	
</div>


</body>
</html>

