/* -------------------------- FORM MULTIPLE STEPS ------------------------ */

ol.k-form-steps {
	@include M_flexCon(column);
	position: relative;
	clear: both;
	counter-reset: step;
	margin: 1em 0;
	
	li {
		position: relative;
		-webkit-flex: 1 1 auto;
      		flex: 1 1 auto;
		list-style-type: none;
		font: 0.9em/1 $title_stack;
		color: lighten($text_clr, 70%);
		background: $neutral_lgt_clr;
		padding: 0.5em 0.7em;
		margin: 10px 5px 0 0;
	}
	li::before {
		display: inline-block;
		width: 1.5em;
		height: 1.5em;
		line-height: 1.5em;
		font-size: 1.3em;
		content: counter(step);
		counter-increment: step;
		text-align: center;
		color: $neutral_lgt_clr;
		background: lighten($text_clr, 80%);
		margin-right: 10px;
		border-radius: 1.5em;
	}
	
	li.past {color: $text_clr; background: $neutral_lgt_clr;}
	li.past::before {color: $neutral_lgt_clr; background: $text_clr;}
	
  	li.active {color: $hot_clr;}
  	li.active::before {color: $neutral_lgt_clr; background: $hot_clr;}
  
  	@media screen and (min-width: 790px) {
		@include M_flexCon(row);
	
		li {text-align: center; float: left;}
		li::before {
			display: block;
			margin: 0 auto 5px;
		}
  	}
}

