/* -------------------------- MANDATORY INFO ------------------------ */

p.k-mandatory {
	clear: both;
	font-size: 0.8em;
	text-align: right;
	margin-bottom: 1em;
} 
	
span[aria-label=asterisk] {color: $hot_clr;}
