<!DOCTYPE html>  
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="shortcut icon" href="../img/k-theme0/favicon.png" />
	<title>[KAWWA &raquo; Article Template]</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/k-theme0.css" rel="stylesheet" type="text/css" title="Default Theme" media="all" />
	<!--[if lt IE 9]><link href="../css/iehacks0.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!-- SCRIPTS -->
	<!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<!-- Here go your plug-ins -->
	<script type="text/javascript" src="../js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.button.min.js"></script>
	<script type="text/javascript" src="../js/plugins/superfish.js"></script>
	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

	<header role="banner">
		<h1>KAWWA <small>Markup Pattern Library</small></h1>
		<div class="k-tools">
			<form class="k-language" method="post" action="">
				<fieldset class="k-radio">
					<legend>Choose preferred language:</legend>
					<p>
					    <input type="radio" id="en" value="en" name="language" checked="checked" />
					    <label for="en" title="English version">EN</label>
					    <input type="radio" id="fr" value="fr" name="language" />
					    <label for="fr" lang="fr" xml:lang="fr" title="Version française">FR</label>
					    <input type="radio" id="de" value="de" name="language" />
					    <label for="de" lang="de" xml:lang="de" title="Deutsch version">DE</label>
			  		</p>
				</fieldset>
			</form>
			<ul class="k-tools-list">
				<li><a href="tools/faq.html">FAQ</a></li>
				<li><a href="tools/contact.html">Contact us</a></li>
			</ul>
		</div>
		<p class="k-login-data">Welcome, John SMITH [<strong><a href="#">Logout</a></strong>]</p>
	</header>

	<nav>
		<h2 class="k-skip"><a href="#wrapper">Main navigation (Skip it)</a></h2>
		<ul class="k-navbar">
			<li class="home"><a href="../index.html">Home</a></li>
			<li class="active"><a href="#">Articles</a>
				<ul class="dropdown">
					<li class="active"><a href="#">About browsers</a></li>
					<li><a href="#">About Worlds</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	
	<p class="k-breadcrumbs">
		<a href="#">Home</a> &gt; 
		<a href="#">Articles</a> &gt; 
		<a href="#">About browsers</a> &gt; 
		Article Title</p>
	<hr />
		
	<div id="wrapper">
		
		<div id="main" role="main">
			<article class="k-article hentry">				
				<h2 class="entry-title">Article title</h2>
                <ul class="entry-info">
                    <li><time class="published" datetime="2011-07-14">Month 14th, 2011</time></li>
                    <li>by <address class="vcard author"><a class="url fn" href="#">Edgar Rice Burroughs</a></address></li>
                </ul>
								
				<div class="content entry-content">
				
		            <div class="k-intro">
		            	<p>The thought that the divine Dejah Thoris might fall into 
						the clutches of such an abysmal atavism started the cold sweat upon me. </p><p>Far 
						better that we save friendly bullets for ourselves at the last moment, as did 
						those brave frontier women of my lost land, who took their own lives rather than 
						fall into the hands of the Indian braves.</p>
					</div>
				   					
					<p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. 
						His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
					<p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. 
						His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
						
					
					<h3>Sub-title</h3>
					<p>"I have selected none," I replied. "It seemed best that I quartered either by myself or among the other warriors, and I was awaiting an opportunity to ask your advice. As you know," and I smiled, "I am not yet familiar with all the customs of the Tharks."</p>
		            <p>"Come with me," he directed, and together we moved off across the plaza to a building which I was glad to see adjoined that occupied by Sola and her charges.</p>
		            <p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
					
					<figure class="k-illustration-block to-right">
						<img src="../img/image_examples/css3_logo.png" alt="" /> 
						<figcaption>The figure caption goes here</figcaption>
					</figure>
					
					<h4>Sub-sub-title</h4>
					<p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
		            <p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            
					<blockquote>
		            	<p>As I wandered about the plaza lost in my gloomy forebodings Tars 
		            		Tarkas approached me on his way from the audience chamber. His demeanor 
		            		toward me was unchanged, and he greeted me as though we had not just 
		            		parted a few moments before.</p>
		            	<p class="citation"><cite>A Princess of Mars</cite>, Edgar Rice Burroughs</p>
		            </blockquote>
					
					<h5>Title level 5</h5>
		            <p>"My quarters are on the first floor of this building," he said, "and the second floor also is fully occupied by warriors, but the third floor and the floors above are vacant; you may take your choice of these.</p>
					
					<figure class="k-illustration-block">
						<img src="../img/image_examples/html5-tech-logos.png" alt="" /> 
						<figcaption>The figure caption goes here</figcaption>
					</figure>
					
					<p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
		            
					<ul>
						<li>My quarters are on the first floor</li>
						<li>Dejah Thoris might fall into the clutches</li>
						<li>The thought that the divine Dejah Thoris</li>
					</ul>
					
					<figure class="k-illustration-block to-left">
						<img src="../img/image_examples/html5_logo.png" alt="" /> 
						<figcaption>The figure caption goes here</figcaption>
					</figure>
					
					<p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
	             	<p>Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
		            
		            <div class="k-highlight-block">
						<p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
					</div>
		            
		            <p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
	             	<p>Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            
					<div class="k-pagination">
						<p class="page-numbers">
							<img src="../img/k-theme0/pic_first_off.gif" alt="[ First article ]" /> 
							<img src="../img/k-theme0/pic_prev_off.gif" alt="[ Previous article ]" /> 
							<span><strong>1</strong> |  <a href="#">2</a></span> 
							<a href="#" title="Go to next page"><img src="../img/k-theme0/pic_next.gif" alt="[ Next article ]" /></a> 
							<a href="#" title="Go to last page"><img src="../img/k-theme0/pic_last.gif" alt="[ Last article ]" /></a>
						</p>
					</div>
					
				</div>
			</article>
		</div><!-- /main -->
			
		<aside role="complementary">
			<h2 class="k-skip">Transversal content</h2>
			<ul class="k-actions">
				<li><a href="#" class="bt-print" title="Print this article">Print</a></li>
				<li><a href="#" class="bt-email" title="Send this article by e-mail">Email</a></li>
			</ul>
			
			<div class="k-info-block">
				<div class="hgroup">
					<h3>Related articles</h3>
				</div>
				<div class="content">
					<ul class="k-links-list">
						<li><a href="#">Browser Wars</a></li>
						<li><a href="#">The War of the Worlds</a></li>
					</ul>
				</div>
			</div>
		</aside>
			
	</div>
	
	<footer role="contentinfo">
		<p class="k-copyright">&copy; Your copyright, 2013</p>
	</footer>
	
</div>


</body>
</html>

