<!DOCTYPE html>  
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="shortcut icon" href="../img/k-theme0/favicon.png" />
	<title>[KAWWA2 &raquo; Articles]</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/k-theme0.css" rel="stylesheet" type="text/css" title="Default Theme" media="all" />
	<!--[if lt IE 9]><link href="../css/iehacks0.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!-- SCRIPTS -->
	<!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<!-- Here go your plug-ins -->
	<script type="text/javascript" src="../js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.button.min.js"></script>
	<script type="text/javascript" src="../js/plugins/superfish.js"></script>
	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

	<header role="banner">
		<h1>KAWWA <small>Markup Pattern Library</small></h1>
		<div class="k-tools">
			<form class="k-language" method="post" action="">
				<fieldset class="k-radio">
					<legend>Choose preferred language:</legend>
					<p>
					    <input type="radio" id="en" value="en" name="language" checked="checked" />
					    <label for="en" title="English version">EN</label>
					    <input type="radio" id="fr" value="fr" name="language" />
					    <label for="fr" lang="fr" xml:lang="fr" title="Version française">FR</label>
					    <input type="radio" id="de" value="de" name="language" />
					    <label for="de" lang="de" xml:lang="de" title="Deutsch version">DE</label>
			  		</p>
				</fieldset>
			</form>
			<ul class="k-tools-list">
				<li><a href="tools/faq.html">FAQ</a></li>
				<li><a href="tools/contact.html">Contact us</a></li>
			</ul>
		</div>
		<p class="k-login-data">Welcome, John SMITH [<strong><a href="#">Logout</a></strong>]</p>
	</header>

	<nav>
		<h2 class="k-skip"><a href="#wrapper">Main navigation (Skip it)</a></h2>
		<ul class="k-navbar">
			<li class="home"><a href="../index.html">Home</a></li>
			<li class="active"><a href="#">Articles</a>
				<ul class="dropdown">
					<li class="active"><a href="#">About Books</a></li>
					<li><a href="#">About Browsers</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	
	<p class="k-breadcrumbs">
		<a href="#">Home</a> &gt; 
		<a href="#">Articles</a> &gt; 
		Articles About Books</p>
	<hr />
		
	<div id="wrapper">
		
		<div id="main" role="main">
			
			<h2>Articles About Books</h2>

			<article class="k-article k-entry hentry hfeed">
			    <h3 class="entry-title"><a href="#" title="Read this article">A Princess of Mars</a></h3>
			    <ul class="entry-info">
			        <li><time class="published" datetime="2013-07-14">July 14th, 2013</time></li>
			        <li>
			        	by 
			            <address class="vcard author">
			                <a class="url fn" href="#">Edgar Rice Burroughs</a>
			            </address>
			        </li>
			    </ul>
			    <div class="content entry-content">
			        <p><strong>Article summary...</strong> As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas 
			            approached me on his way from the audience chamber. His demeanor toward me 
			            was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
			        <p class="k-readmore"><a href="#" title="Read more about Article title...">Read more...</a></p>
			    </div>
			</article>
			<article class="k-article k-entry hentry hfeed">
			    <h3 class="entry-title"><a href="#" title="Read this article">Alice in Wonderland</a></h3>
			    <ul class="entry-info">
			        <li><time class="published" datetime="2013-07-14">July 14th, 2013</time></li>
			        <li>
			        	by 
			            <address class="vcard author">
			                <a class="url fn" href="#">Lewis Carroll</a>
			            </address>
			        </li>
			    </ul>
			    <div class="content entry-content">
			        <p><strong>Article summary...</strong> As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas 
			            approached me on his way from the audience chamber. His demeanor toward me 
			            was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
			        <p class="k-readmore"><a href="#" title="Read more about Article title...">Read more...</a></p>
			    </div>
			</article>
			<article class="k-article k-entry hentry hfeed">
			    <h3 class="entry-title"><a href="#" title="Read this article">Sense &amp; Sensibility</a></h3>
			    <ul class="entry-info">
			        <li><time class="published" datetime="2013-07-14">July 14th, 2013</time></li>
			        <li>
			        	by 
			            <address class="vcard author">
			                <a class="url fn" href="#">Jane Austen</a>
			            </address>
			        </li>
			    </ul>
			    <div class="content entry-content">
			        <p><strong>Article summary...</strong> As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas 
			            approached me on his way from the audience chamber. His demeanor toward me 
			            was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
			        <p class="k-readmore"><a href="#" title="Read more about Article title...">Read more...</a></p>
			    </div>
			</article>

		</div><!-- /main -->
			
		<aside role="complementary">
			<h2 class="k-skip">Transversal content</h2>
			<ul class="k-actions">
				<li><a href="#" class="bt-print" title="Print this article">Print</a></li>
				<li><a href="#" class="bt-email" title="Send this article by e-mail">Email</a></li>
			</ul>
			
			<div class="k-info-block">
				<div class="hgroup">
					<h3>Related articles</h3>
				</div>
				<div class="content">
					<ul class="k-links-list">
						<li><a href="#">Browser Wars</a></li>
						<li><a href="#">The War of the Worlds</a></li>
					</ul>
				</div>
			</div>
		</aside>
			
	</div>
	
	<div id="footer">
		<p class="k-copyright">&copy; Your copyright, 2013</p>
	</div>
	
</div>


</body>
</html>

