<!DOCTYPE html>  
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="shortcut icon" href="../img/k-theme0/favicon.png" />
	<title>[KAWWA &raquo; Article Template]</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../css/k-theme0.css" rel="stylesheet" type="text/css" title="Default Theme" media="all" />
	<!--[if lt IE 9]>
    <link href="../css/iehacks0.css" rel="stylesheet" type="text/css"/><![endif]-->
	<!-- SCRIPTS -->
	<!--[if lt IE 9]><script src="../js/html5shiv.js"></script><![endif]-->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<!-- Here go your plug-ins -->
	<script type="text/javascript" src="../js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="../js/jquery.kawwa.tab.js"></script>

	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

    <div class="k-tabbed-data">
        <ul class="tabs">
            <li><a href="#panel0">Onglet 0</a></li>
            <li><a href="#panel1">Onglet 1</a></li>
            <li><a href="#panel2">Onglet 2</a></li>
            <li><a href="#panel3">Onglet 3</a></li>
        </ul>

        <section class="content" id="panel0">
            <h3 class="k-no-display">Title 0</h3>
            <p>Content 0 ...</p>
        </section>
        <section class="content" id="panel1">
            <h3 class="k-no-display">Title 1</h3>
            <p>Content 1 ...</p>
        </section>
        <section class="content" id="panel2">
            <h3 class="k-no-display">Title 2</h3>
            <p>Content 2 ...</p>
        </section>
        <section class="content" id="panel3">
            <h3 class="k-no-display">Title 3</h3>
            <p>Content 3 ...</p>
        </section>
    </div>
</div>


</body>
</html>

