<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="shortcut icon" href="../img/favicon.png" />
	<title>Atos Worldline - KAWWA2 &raquo; Article template</title>
	<!-- STYLESHEET -->
	<link href="../css/k-structure.css" rel="stylesheet" type="text/css" />
	<link href="../css/k-theme2.css" rel="stylesheet" type="text/css" title="Default Theme" media="screen" />
	<link href="../css/k-print2.css" rel="stylesheet" type="text/css" media="print" />
	<!--[if lt IE 9]><link href="../css/iehacks2.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!-- SCRIPTS -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.core.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.position.min.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.accordion.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.button.min.js"></script>
	<script type="text/javascript" src="../js/ui/jquery.ui.autocomplete.min.js"></script>
	<script type="text/javascript" src="../js/k-general.js"></script>
	<script type="text/javascript" src="../js/k-load.js"></script>
</head>

<body>

<div id="container">

	<div id="header">
		<h1><img src="../img/k-theme2/logo_Graphikawwa-trans.png" alt="Atos Worldline: KAWWA Portal" /></h1>
		<div class="k-tools">
			<form class="k-language" method="post" action="">
				<fieldset class="k-radio">
					<legend>Choose preferred language:</legend>
					<p>
					    <input type="radio" id="en" value="en" name="language" checked="checked" />
					    <label for="en" title="English version">EN</label>
					    <input type="radio" id="fr" value="fr" name="language" />
					    <label for="fr" lang="fr" xml:lang="fr" title="Version française">FR</label>
					    <input type="radio" id="de" value="de" name="language" />
					    <label for="de" lang="de" xml:lang="de" title="Deutsch version">DE</label>
			  		</p>
				</fieldset>
			</form>
			<ul class="k-tools-list">
				<li><a href="tools/faq.html">FAQ</a></li>
				<li><a href="tools/contact.html">Contact us</a></li>
			</ul>
			<form class="k-search" method="post" action="">
				<p><input type="text" class="k-autocomplete" id="searchTag" name="searchTag" title="Search" /> 
				<input type="submit" value="go" /></p>
			</form>
		</div>
		<p class="k-login-data">Welcome, John SMITH [<strong><a href="#">Logout</a></strong>]</p>
	</div>

	<div id="navbar">
		<p class="k-skip"><a href="#wrapper">Skip this menu</a></p>
		<ul class="k-navbar subnavbar">
			<li class="home"><a href="../index.html">Home</a></li>
			<li class="active"><a href="#">Articles</a>
				<ul>
					<li class="active"><a href="#">About browsers</a></li>
					<li><a href="#">About Worlds</a></li>
				</ul>
			</li>
		</ul>
		<p class="k-breadcrumbs">
			<a href="#">Home</a> &gt; 
			<a href="#">Articles</a> &gt; 
			<a href="#">About browsers</a> &gt; 
			Article Title</p>
	</div>
	
	<hr />
		
	<div id="wrapper">
		
		<div id="main">
			<div class="k-article hentry">
				
				<h2 class="entry-title">Article title</h2>
                <ul class="entry-info">
                    <li><span class="published" title="2011-07-14T14:07:00-07:00">July 14th, 2011</span></li>
                    <li>by <address class="vcard author"><a class="url fn" href="#">H. G. Wells</a></address></li>
                </ul>
								
				<div class="content entry-content">
				
		            <div class="k-intro">
		            	<p>The thought that the divine Dejah Thoris might fall into 
						the clutches of such an abysmal atavism started the cold sweat upon me. </p><p>Far 
						better that we save friendly bullets for ourselves at the last moment, as did 
						those brave frontier women of my lost land, who took their own lives rather than 
						fall into the hands of the Indian braves.</p>
					</div>
				   
				    <div class="k-illustration-block to-right">
						<p class="illustration"><img src="../img/image_examples/example_figure2.jpg" alt="" /> <span class="caption">The figure caption goes here</span></p>
					</div>
					
					<p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
					
					<h3>Sub-title</h3>
					<p>"I have selected none," I replied. "It seemed best that I quartered either by myself or among the other warriors, and I was awaiting an opportunity to ask your advice. As you know," and I smiled, "I am not yet familiar with all the customs of the Tharks."</p>
		            <p>"Come with me," he directed, and together we moved off across the plaza to a building which I was glad to see adjoined that occupied by Sola and her charges.</p>
		            <p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>

					<h4>Sub-sub-title</h4>
					<p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
		            <p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            
					<p class="k-quote">My quarters are on the first floor of this building and the second floor also is fully occupied by warriors, but the third floor and the floors above are vacant; you may take your choice of these.</p>
					
					<h5>Title level 5</h5>
		            <p>"My quarters are on the first floor of this building," he said, "and the second floor also is fully occupied by warriors, but the third floor and the floors above are vacant; you may take your choice of these.</p>
					
					<div class="k-illustration-block">
						<p class="illustration"><img src="../img/image_examples/example_figure.jpg" alt="" /> <span class="caption">The figure caption goes here</span></p>
					</div>
					
					<p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
		            
					<ul>
						<li>My quarters are on the first floor</li>
						<li>Dejah Thoris might fall into the clutches</li>
						<li>The thought that the divine Dejah Thoris</li>
					</ul>
					
					<div class="k-illustration-block to-left">
						<p class="illustration"><img src="../img/image_examples/example_figure3.jpg" alt="" /> <span class="caption">The figure caption goes here</span></p>
					</div>
					<p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
		            <p>The thought that the divine Dejah Thoris might fall into the clutches of such an abysmal atavism started the cold sweat upon me. Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            <p>As I wandered about the plaza lost in my gloomy forebodings Tars Tarkas approached me on his way from the audience chamber. His demeanor toward me was unchanged, and he greeted me as though we had not just parted a few moments before.</p>
	             	<p>Far better that we save friendly bullets for ourselves at the last moment, as did those brave frontier women of my lost land, who took their own lives rather than fall into the hands of the Indian braves.</p>
		            
					<div class="k-pagination">
						<p class="page-numbers">
							<img src="../img/k-theme2/pic_first_off.gif" alt="[ First article ]" /> 
							<img src="../img/k-theme2/pic_prev_off.gif" alt="[ Previous article ]" /> 
							<span><strong>1</strong> |  <a href="#">2</a></span> 
							<a href="#" title="Go to next page"><img src="../img/k-theme2/pic_next.gif" alt="[ Next article ]" /></a> 
							<a href="#" title="Go to last page"><img src="../img/k-theme2/pic_last.gif" alt="[ Last article ]" /></a>
						</p>
					</div>
					
				</div>
			</div>
		</div><!-- /main -->
			
		<div id="sidebar">
			<ul class="k-actions">
				<li><a href="#" class="bt-print" title="Print this article">Print</a></li>
				<li><a href="#" class="bt-email" title="Send this article by e-mail">Email</a></li>
			</ul>
			
			<div class="k-info-block">
				<div class="hgroup">
					<h3>Related articles</h3>
				</div>
				<div class="content">
					<ul class="k-links-list">
						<li><a href="#">Browser Wars</a></li>
						<li><a href="#">The War of the Worlds</a></li>
					</ul>
				</div>
			</div>
		</div>
			
		
	</div>
	
	<div id="footer">
		<p class="k-copyright">&copy; Le Studio/Web Platform, Atos Worldline, 2011</p>
	</div>
	
</div>


</body>
</html>

