/* ----------------------------- INTRODUCTION ------------------------------- */

div.k-intro {
	width: 80%;
	max-width: 30em;
	padding-left: 1em;
	margin: 0 0 2em;
	border-left: 1px solid $neutral_md_clr;
	
	p {
		font-size: 1em;
		line-height: 1.4;
		text-indent: 0;
	}
	
	p:first-child {position: relative;}
	p:first-child:first-letter {
		line-height: 0.1;
		font: 200% $title_stack;
		color: $identity_clr;
		background: #FFF;
	}
}

@media screen and (min-width: 1000px) {
	div.k-intro {
		font-size: 1.2em;
		line-height: 1.53;
		color: $neutral_drk_clr;
		background: #FFF;
		margin: 0 0 2em 2em;
		
		p {font-size: 1.2em;}
	}
} 
